In [1]:
# %pip install pyscisci networkx python-Levenshtein sparse_dot_topn matplotlib boto3 widgetsnbextension ipywidgets "dask[distributed]<2024.3.0"  --upgrade

In [2]:
import pyscisci.all as pyscisci

import random
import pickle
import os
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

import dask.dataframe as dd

%matplotlib inline

path2openalex = '/disks/qnap2/data/t-yatima/openalex231124/data/'

DATA_DIR = '/disks/qnap2/data/t-yatima/scisciJP2024_tutorial/'
INPUT_D_LIST_PKL = DATA_DIR + 'D_values.pkl'
INPUT_WU_WORKS_LIST_PKL = DATA_DIR + 'teamsize_impact_disrup_refAge_refPop.pkl'
OUTPUT_WU_WORKS_LIST_SMALL_PKL = 'supplementary/teamsize_impact_disrup_refAge_refPop_small.pkl'
OUTPUT_WORKS_DF_PKL = DATA_DIR + 'random_works_df.pkl'
OUTPUT_WORKS_SMALL_DF_PKL = 'supplementary/random_works_small_df.pkl'
OUTPUT_WORKS_REL_REF_DF_PKL = DATA_DIR + 'random_rel_ref_df.pkl'
OUTPUT_WORKS_REL_REF_SMALL_DF_PKL = 'supplementary/random_rel_ref_small_df.pkl'
# OUTPUT_CITATIONS_GB_DF_PKL = DATA_DIR + 'citations_gb_df.pkl'

myoa = pyscisci.OpenAlex(path2openalex, database_extension='csv.gz', keep_in_memory=True, show_progress=True, enable_dask=True) 

from dask.diagnostics import ProgressBar
ProgressBar().register()

from dask.distributed import progress

In [3]:
all_pub_ddf = myoa.load_publications()
all_pub_ddf

Loading Publications:   0%|          | 0/480 [00:00<?, ?it/s]

Dask DataFrame Structure:
                PublicationId JournalId    Year NumberCitations   Title    Date DocType     Doi    PMID  Volume   Issue FirstPage LastPage IsRetracted IsParaText
npartitions=480
                       string    string  string          string  string  string  string  string  string  string  string    string   string      string     string
                          ...       ...     ...             ...     ...     ...     ...     ...     ...     ...     ...       ...      ...         ...        ...
...                       ...       ...     ...             ...     ...     ...     ...     ...     ...     ...     ...       ...      ...         ...        ...
                          ...       ...     ...             ...     ...     ...     ...     ...     ...     ...     ...       ...      ...         ...        ...
                          ...       ...     ...             ...     ...     ...     ...     ...     ...     ...     ...       ...      ...         ...        ...
Dask Name: to_pyarrow_string, 9122 graph layers

In [4]:
# 9min
references_df = myoa.load_references()
display(references_df)

Loading pub2ref:   0%|          | 0/480 [00:00<?, ?it/s]

        CitingPublicationId CitedPublicationId
0                3117235547           55183993
1                3117235547          657382535
2                3117235547         1540739244
3                3117235547         1582266453
4                3117235547         1642177666
...                     ...                ...
9436475          2134809571         2090594024
9436476          2134809571         2124054840
9436477          2134809571         2147932722
9436478          2134809571         2158145285
9436479          2134809571         4235794113

[1683280953 rows x 2 columns]

In [5]:
references_df[references_df['CitingPublicationId'] == 2133895471]

Empty DataFrame
Columns: [CitingPublicationId, CitedPublicationId]
Index: []

In [6]:
len(references_df[references_df['CitedPublicationId'] == 2133895471])

50

In [7]:
# 8min
random_works_ddf = all_pub_ddf.sample(frac=0.000005, random_state=1)
random_works_df = random_works_ddf.compute()

[                                        ] | 1% Completed | 1.10 s ms

/home/t-yatima/t-yatima/.venv/lib/python3.10/site-packages/dask/dataframe/backends.py:688: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  out = pd.concat(dfs3, join=join, sort=False)

[########################################] | 100% Completed | 16m 12s

In [8]:
random_works_df

,PublicationId,JournalId,Year,NumberCitations,Title,Date,DocType,Doi,PMID,Volume,Issue,FirstPage,LastPage,IsRetracted,IsParaText
84767,2242094754,<NA>,2005,0,Understanding what child protection data mean:...,2005-08-11,article,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False
183235,2951317825,<NA>,2015,0,Desvendando o Universo com o Céu da Serra Gaúcha,2015-11-30,article,<NA>,<NA>,3,3,<NA>,<NA>,False,False
11528,2170217184,<NA>,2006,50,Novel approach to fabricating carbon nanotube ...,2006-01-01,article,10.1109/iitc.2006.1648696,<NA>,<NA>,<NA>,<NA>,<NA>,False,False
51663,2332852995,<NA>,1942,18,Form und Ausdehnung der Panum schen Areale bei...,1942-10-01,article,10.1007/bf02562544,<NA>,246,2,315,328,False,False
281880,2027815162,<NA>,1999,2,Selected ideas of the theory of non‐linear ele...,1999-06-01,article,10.1108/03321649910264208,<NA>,<NA>,<NA>,<NA>,<NA>,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259162,2129436324,<NA>,1999,44,Bone health: the role of micronutrients,1999-01-01,article,10.1258/0007142991902501,10746351,55,3,619,633,False,False
176926,2090206302,<NA>,1980,36,CLINICAL TRIAL OF DESFERRIOXAMINE ENTRAPPED IN...,1980-08-01,article,10.1016/s0140-6736(80)90336-0,6105474,316,8190,327,330,False,False
284765,2069294162,<NA>,1996,33,Nonvisualization of the fetal gallbladder: fre...,1996-06-01,article,10.1148/radiology.199.3.8637986,8637986,199,3,679,682,False,False
149535,3167557254,<NA>,2021,29,C-type lectins and extracellular vesicles in v...,2021-06-11,article,10.1186/s12929-021-00741-7,34116654,28,1,<NA>,<NA>,False,False
2205,2139185522,<NA>,1992,32,The Effects of Tort Reform on Medical Malpract...,1992-02-01,article,10.1215/03616878-17-1-143,1619247,17,1,143,161,False,False

In [9]:
display(random_works_df[random_works_df['PublicationId'] == 1982793646], random_works_df[random_works_df['PublicationId'] == 2127548443], random_works_df[random_works_df['PublicationId'] == 2170866237])

Empty DataFrame
Columns: [PublicationId, JournalId, Year, NumberCitations, Title, Date, DocType, Doi, PMID, Volume, Issue, FirstPage, LastPage, IsRetracted, IsParaText]
Index: []

Empty DataFrame
Columns: [PublicationId, JournalId, Year, NumberCitations, Title, Date, DocType, Doi, PMID, Volume, Issue, FirstPage, LastPage, IsRetracted, IsParaText]
Index: []

Empty DataFrame
Columns: [PublicationId, JournalId, Year, NumberCitations, Title, Date, DocType, Doi, PMID, Volume, Issue, FirstPage, LastPage, IsRetracted, IsParaText]
Index: []

In [10]:
# ネットワークの可視化 + DNA/RNA用
selected_df = all_pub_ddf[all_pub_ddf['PublicationId'].isin([1982793646, 2127548443, 2170866237, 2126466006, 2013241878])].compute()
selected_df

[########################################] | 100% Completed | 16m 10s

Empty DataFrame
Columns: [PublicationId, JournalId, Year, NumberCitations, Title, Date, DocType, Doi, PMID, Volume, Issue, FirstPage, LastPage, IsRetracted, IsParaText]
Index: []

In [11]:
random_works_df = pd.concat([selected_df, random_works_df])
random_works_df

,PublicationId,JournalId,Year,NumberCitations,Title,Date,DocType,Doi,PMID,Volume,Issue,FirstPage,LastPage,IsRetracted,IsParaText
84767,2242094754,<NA>,2005,0,Understanding what child protection data mean:...,2005-08-11,article,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,False,False
183235,2951317825,<NA>,2015,0,Desvendando o Universo com o Céu da Serra Gaúcha,2015-11-30,article,<NA>,<NA>,3,3,<NA>,<NA>,False,False
11528,2170217184,<NA>,2006,50,Novel approach to fabricating carbon nanotube ...,2006-01-01,article,10.1109/iitc.2006.1648696,<NA>,<NA>,<NA>,<NA>,<NA>,False,False
51663,2332852995,<NA>,1942,18,Form und Ausdehnung der Panum schen Areale bei...,1942-10-01,article,10.1007/bf02562544,<NA>,246,2,315,328,False,False
281880,2027815162,<NA>,1999,2,Selected ideas of the theory of non‐linear ele...,1999-06-01,article,10.1108/03321649910264208,<NA>,<NA>,<NA>,<NA>,<NA>,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259162,2129436324,<NA>,1999,44,Bone health: the role of micronutrients,1999-01-01,article,10.1258/0007142991902501,10746351,55,3,619,633,False,False
176926,2090206302,<NA>,1980,36,CLINICAL TRIAL OF DESFERRIOXAMINE ENTRAPPED IN...,1980-08-01,article,10.1016/s0140-6736(80)90336-0,6105474,316,8190,327,330,False,False
284765,2069294162,<NA>,1996,33,Nonvisualization of the fetal gallbladder: fre...,1996-06-01,article,10.1148/radiology.199.3.8637986,8637986,199,3,679,682,False,False
149535,3167557254,<NA>,2021,29,C-type lectins and extracellular vesicles in v...,2021-06-11,article,10.1186/s12929-021-00741-7,34116654,28,1,<NA>,<NA>,False,False
2205,2139185522,<NA>,1992,32,The Effects of Tort Reform on Medical Malpract...,1992-02-01,article,10.1215/03616878-17-1-143,1619247,17,1,143,161,False,False

In [12]:
# 11min
all_paa = myoa.load_publicationauthoraffiliation()
all_paa

Loading Publication Author Affiliation:   0%|          | 0/480 [00:00<?, ?it/s]

,PublicationId,AuthorId,AffiliationId,AuthorSequence,OrigAuthorName
0,4287754650,5062226449,NaN,1,Enrico Biffis
1,4287754650,5033140346,NaN,2,Erik Chavez
2,4287754650,5061623148,NaN,3,Alexis Louaas
3,4287754650,5074952038,NaN,4,Pierre M. Picard
4,4287938432,5045351019,NaN,1,Arthur Hugeat
...,...,...,...,...,...
1810902,2134809571,5004197195,1.355989e+08,3,Hiroki Shibata
1810903,2134809571,5061432587,4.210123e+09,4,Tomomi Saito
1810904,2134809571,5029531503,4.240550e+07,5,Osamu Doi
1810905,2134809571,5004358248,4.240550e+07,6,Yutaka Ohya
1810906,2134809571,5011973675,4.240550e+07,7,Norio Yoshizaki

In [13]:
all_paa[all_paa['PublicationId'].isin([653597189, 2242094754, 2951317825])]

,PublicationId,AuthorId,AffiliationId,AuthorSequence,OrigAuthorName
154625,2242094754,5026037360,NaN,1,Daryl Higgins
154626,2242094754,5053282767,NaN,2,Leah Bromfield
331280,2951317825,5005072967,2.801050e+09,1,Caroline Azzolini Pontel
331281,2951317825,5078242247,2.801050e+09,2,Thailise de Oliveira Candido
331282,2951317825,5083600524,2.801050e+09,3,Leonardo Kramer Pezzin
331283,2951317825,5018366926,2.801050e+09,4,Marla Heckler

In [14]:
all_paa[all_paa['PublicationId'] == 2242094754]

       PublicationId    AuthorId  AffiliationId AuthorSequence  OrigAuthorName
154625    2242094754  5026037360            NaN              1   Daryl Higgins
154626    2242094754  5053282767            NaN              2  Leah Bromfield

In [15]:
random_works_df['PublicationId'].to_list()

['2242094754',
 '2951317825',
 '2170217184',
 '2332852995',
 '2027815162',
 '1830373157',
 '1429986587',
 '2004061347',
 '2293869977',
 '2377169427',
 '2370499641',
 '2350967676',
 '2391211130',
 '2380284986',
 '2401942128',
 '2467254540',
 '3134187599',
 '2748061084',
 '4291605330',
 '2622370393',
 '884281907',
 '4205279783',
 '1842007641',
 '2548610616',
 '2775296517',
 '2802440950',
 '2333663200',
 '2738560831',
 '2913111331',
 '2998666130',
 '2990399118',
 '2919675454',
 '3203356558',
 '3122060510',
 '3113062445',
 '397795794',
 '953577119',
 '625197289',
 '1564828837',
 '2161194498',
 '2224838514',
 '2625424264',
 '2061064219',
 '1010664123',
 '2437433125',
 '1552517461',
 '1562370559',
 '1826541919',
 '1563287870',
 '102365665',
 '223684252',
 '2253442891',
 '2082304819',
 '186505441',
 '2276223657',
 '2359845262',
 '2312867456',
 '2347451845',
 '2369773757',
 '2372680630',
 '2390526426',
 '2527162214',
 '2593858188',
 '2524609854',
 '2588666659',
 '2656584671',
 '2914234744',
 '2742997455',
 '2745055512',
 '2741413905',
 '2914737786',
 '2997360397',
 '3010019323',
 '294436845',
 '3008949598',
 '3028719004',
 '3106586783',
 '3145320389',
 '3166660510',
 '3163143443',
 '3210492848',
 '401625221',
 '3183458782',
 '436817495',
 '366973618',
 '951471170',
 '610047284',
 '817639940',
 '584348102',
 '758307083',
 '2519696442',
 '2187913747',
 '2468328088',
 '1589053465',
 '2601006047',
 '122019250',
 '2806358130',
 '2092092179',
 '3174209449',
 '2760200748',
 '2122636878',
 '2972298',
 '2413208432',
 '268642992',
 '1199384315',
 '1194948993',
 '2767468183',
 '160261177',
 '1630486889',
 '134550877',
 '1434438256',
 '175495755',
 '1887284808',
 '182772024',
 '1903500555',
 '2259596089',
 '2243975067',
 '2241863392',
 '2181526874',
 '23132745',
 '2314993408',
 '2328301663',
 '2278322902',
 '2411284352',
 '2472151064',
 '2476402157',
 '2506863166',
 '2598775674',
 '2596224802',
 '2602978408',
 '2602673738',
 '254207242',
 '267510647',
 '2619123553',
 '2736426825',
 '2747443693',
 '2742421866',
 '2896628254',
 '2802053022',
 '2917620044',
 '2940585928',
 '2804025805',
 '2999776013',
 '2991572036',
 '297000373',
 '3001812404',
 '3015331858',
 '3088074079',
 '308853537',
 '3036223707',
 '3106698406',
 '3119881321',
 '3128175768',
 '3125831869',
 '3116067766',
 '3191627643',
 '3184742181',
 '3174553550',
 '3209620294',
 '3176040358',
 '4286482007',
 '603774208',
 '589170588',
 '601308708',
 '8357765',
 '889103837',
 '973285774',
 '2417224513',
 '1993153469',
 '2226581755',
 '2431367172',
 '2105200636',
 '2506938139',
 '2396296759',
 '1526287267',
 '1486402011',
 '135603574',
 '1569493429',
 '1494177906',
 '1604666707',
 '1968822525',
 '1625227741',
 '2044845537',
 '2255370198',
 '2182791943',
 '225473920',
 '2272703185',
 '2261364571',
 '2300955930',
 '2339740929',
 '2298865413',
 '2321644477',
 '2376920545',
 '2405365660',
 '2476971128',
 '2417147664',
 '2530303385',
 '2529902584',
 '2534798608',
 '2566596941',
 '2510002392',
 '2729808212',
 '2791065165',
 '2732684062',
 '2761452069',
 '2729582346',
 '2939401455',
 '2945063046',
 '2792458035',
 '2915681494',
 '2905239233',
 '2987353314',
 '2965427236',
 '2999998780',
 '2981475387',
 '2950042251',
 '3087792744',
 '3139205249',
 '3081105151',
 '3047550212',
 '3093183986',
 '3174890245',
 '3166378183',
 '3203230174',
 '3213679560',
 '3174928401',
 '403040077',
 '586991239',
 '481567871',
 '602542166',
 '568573902',
 '631421000',
 '821271771',
 '813265187',
 '818218721',
 '607564166',
 '1975977840',
 '653223999',
 '1554668059',
 '2242369495',
 '1490474293',
 '1875666641',
 '2298122165',
 '2288523118',
 '2380250704',
 '2372799769',
 '2809945681',
 '2784266318',
 '2586354896',
 '2779255878',
 '2967434407',
 '2901503465',
 '3135945404',
 '2945312980',
 '568374245',
 '3159383344',
 '581905035',
 '3188805215',
 '637637890',
 '914236744',
 '2904900692',
 '3009741824',
 '1937172667',
 '218838344',
 '2247336123',
 '202749503',
 '2285972084',
 '2063356866',
 '1606555944',
 '2534138253',
 '2382729829',
 '2370519818',
 '2393717271',
 '2946125524',
 '2580888440',
 '2587220002',
 '2803935839',
 '2957517215',
 '3010184470',
 '3044223247',
 '3110139429',
 '3136594479',
 '2988005200',
 '3209352322',
 '656594163',
 '580398365',
 '367562124',
 '4312210',
 '2001160038',
 '2893320887',
 '2181673067',
 '2585473042',
 '1445286879',
 '2285794407',
 '1569672694',
 '12007051',
 '1000488448',
 '1034418248',
 '1029194678',
 '1014574594',
 '1544733977',
 '1566374269',
 '1492630504',
 '1203792847',
 '1556084078',
 '2034196048',
 '1595040587',
 '1910140040',
 '2041589518',
 '2202131256',
 '225101787',
 '2160069409',
 '2147620142',
 '2182599576',
 '2257527384',
 '2290902982',
 '2253799347',
 '2338471688',
 '2263910796',
 '2342157384',
 '2347653806',
 '2348773495',
 '2340876545',
 '2374649758',
 '2370158697',
 '2377300841',
 '2394006448',
 '24338552',
 '2520677869',
 '2415311785',
 '2587671389',
 '2592479031',
 '2597005386',
 '2587628100',
 '2580030354',
 '2785881832',
 '2788751970',
 '267087736',
 '2764099031',
 '2747125396',
 '2897295461',
 '2912686361',
 '2806121058',
 '2896609683',
 '2923409088',
 '2999863476',
 '3005606607',
 '2994173746',
 '2973774205',
 '2994479068',
 '3023021958',
 '3048736476',
 '3016177640',
 '308229657',
 '3093394480',
 '3132682060',
 '3128339739',
 '3164342832',
 '3149321518',
 '3175899769',
 '3188009627',
 '3202679823',
 '3201281450',
 '3167346957',
 '404868600',
 '368189614',
 '4250560449',
 '375854734',
 '4297808616',
 '627011566',
 '43740589',
 '602982084',
 '567820934',
 '587452067',
 '981187994',
 '941928928',
 '846241669',
 '838835392',
 '906102144',
 '2044132788',
 '2047529496',
 '3009144350',
 '78131968',
 '1575543404',
 '2990020837',
 '135290616',
 '1558922182',
 '77303884',
 '1517126064',
 '1557353928',
 '1863158675',
 '1534223542',
 '2259113357',
 '2292980877',
 '2345515643',
 '2258955785',
 '2368980625',
 '2463609765',
 '2461139554',
 '2407465426',
 '2509432907',
 '2509262653',
 '268595442',
 '2487372407',
 '2759609383',
 '2912528820',
 '2755842827',
 '2964066077',
 '2954873219',
 '3048890677',
 '2989826587',
 '3023329135',
 '3031016776',
 '350365613',
 '3201862778',
 '319329294',
 '409861839',
 '333508229',
 '4383459494',
 '650827705',
 '596111154',
 '622480801',
 '4384636507',
 '2244059239',
 '2076970405',
 '2339904060',
 '2606055590',
 '111271690',
 '70108980',
 '2558332810',
 '1181842361',
 '1480913544',
 '1485107263',
 '175086218',
 '1496464879',
 '2179967823',
 '1832034269',
 '2057622721',
 '2189123411',
 '2245566180',
 '2306593873',
 '2274161224',
 '2294607279',
 '2277590364',
 '2361842376',
 '2380131183',
 '2369991043',
 '2396296179',
 '2567565336',
 '2563490805',
 '2516575473',
 '2741892695',
 '2740170725',
 '2613519450',
 '2614477456',
 '2592674351',
 '2893714517',
 '2801647607',
 '290140889',
 '2785646272',
 '2784594309',
 '3015063816',
 '2971268947',
 '3031123792',
 '3026626612',
 '3002488233',
 '3081351765',
 '3111650150',
 '3105061839',
 '3094535867',
 '3090513228',
 '3205290275',
 '3213127521',
 '3211152423',
 '388274845',
 '35205522',
 '4211054923',
 '419693303',
 '579595682',
 '406331113',
 '419355227',
 '62677455',
 '96120810',
 '855179669',
 '636560825',
 '649257880',
 '655544044',
 '2276078338',
 '2403658333',
 '4288445871',
 '1562343724',
 '1576159621',
 '2063872742',
 '1997423919',
 '2887175723',
 '1654258518',
 '4254714524',
 '2312534214',
 '2257468796',
 '2185573367',
 '2337236110',
 '2392882209',
 '2605644316',
 '2595252821',
 '2588566171',
 '2751174099',
 '2795497442',
 '2831667364',
 '3036054200',
 '4231519216',
 '4237893113',
 '4237959552',
 '3120811545',
 '4243127654',
 '4240421791',
 '4319068111',
 '4378217654',
 '949819228',
 '4200363421',
 '4388382103',
 '1987818268',
 '2551820825',
 '1543568994',
 '2280189589',
 '2781692400',
 '2134264935',
 '2142792374',
 '1970634720',
 '2045637726',
 '2085194261',
 '1570468464',
 '4319053999',
 '2199024328',
 '2996694792',
 '2025332307',
 '1004032838',
 '2072038336',
 '2784002847',
 '4294122580',
 '137390849',
 '2963951759',
 '2088376308',
 '2323725685',
 '2122116386',
 '2043565585',
 '2324229198',
 '4254430969',
 '4205764143',
 '1978369001',
 '2025013123',
 '1574652150',
 '2328311959',
 '2668593639',
 '2417694711',
 '2762557546',
 '2796801229',
 '2912484471',
 '3091674295',
 '37320899',
 '4207018696',
 '4229869552',
 '4238178743',
 '4213385266',
 '4233889268',
 '4234178723',
 '4242130287',
 '4248520306',
 '4244929726',
 '4249596230',
 '4246637189',
 '4254184834',
 '4295289376',
 '4252985733',
 '4254478606',
 '4322492134',
 '4321850888',
 '4316016764',
 '4386879186',
 '1787356229',
 '1980294811',
 '2085778082',
 '2891902207',
 '2522705998',
 '1538042026',
 '2075309239',
 '1583618209',
 '2101207464',
 '2584623713',
 '2530391366',
 '4235549209',
 '2286947580',
 '2029871825',
 '2496014719',
 '3131612729',
 '1497116451',
 '2040732741',
 '2496771021',
 '2339510905',
 '3043207321',
 '2995294335',
 '2963292392',
 '3202840560',
 '4232361831',
 '4232000549',
 '4242099381',
 '4254123034',
 '4248944089',
 '4293210478',
 '4249070318',
 '4379623954',
 '2013554749',
 '2410082532',
 '2468186554',
 '2992874861',
 '3176757391',
 '86249922',
 '2101521576',
 '2321871359',
 '2610811490',
 '1983317392',
 '2237271049',
 '2275473094',
 '2782642993',
 '1597602540',
 '3212173231',
 '2081105498',
 '2086118703',
 '4242238992',
 '1971635396',
 '2490381425',
 '2034389949',
 '2408620869',
 '3163929996',
 '2908985570',
 '2463007927',
 '2077331864',
 '2433867917',
 '2547233788',
 '2016006927',
 '2500236998',
 '2138474978',
 '4291451888',
 '4232757013',
 '3214067940',
 '3107158643',
 '2417594386',
 '2411436138',
 '2048510054',
 '2970718102',
 '2929038951',
 '1601084886',
 '1993906032',
 '1495755953',
 '2254325598',
 '2079764258',
 '2070384425',
 '2319800779',
 '2398226326',
 '2318811360',
 '2418166829',
 '2410889595',
 '2420250145',
 '2417497775',
 '2469998236',
 '2533591861',
 '2491736697',
 '2474764561',
 '2784846024',
 '2943770008',
 '2889457150',
 '3012890025',
 '2978446459',
 '2969384781',
 '3128715304',
 '4214872616',
 '3178520925',
 '4229447553',
 '4229830665',
 '4232904713',
 '4240143817',
 '4231179947',
 '4250937332',
 '4254489030',
 '4242777169',
 '4249319389',
 '4246163648',
 '4299950843',
 '4290346687',
 '4302594125',
 '4302402704',
 '4378215733',
 '4320169727',
 '4376504536',
 '4388182877',
 '4388022669',
 '4384836780',
 '2075733422',
 '2064892255',
 '2154765187',
 '2036174558',
 '1958689744',
 '2067921717',
 '2033320712',
 '2072465425',
 '1970162820',
 '2108937282',
 '2085519233',
 '2090951043',
 '3034234237',
 '2004132079',
 '2322230158',
 '2936346281',
 '2073563625',
 '2001632566',
 '1978983666',
 '2143488795',
 '4213246051',
 '3013871613',
 '3110931972',
 '2035270541',
 '2741237652',
 '2051732646',
 '2899795012',
 '2021335143',
 '2135907611',
 '3137068113',
 '2120542471',
 '2100513003',
 '3204776932',
 '3216546566',
 '2331572191',
 '2318403210',
 '2115530329',
 '3038134359',
 '2940570341',
 '4205185598',
 '179695552',
 '1632141752',
 '4368374452',
 '2053433164',
 '2040185723',
 '2070595551',
 '2092903347',
 '2319712186',
 '2317606992',
 '2427641206',
 '2412697205',
 '2494986056',
 '2469299385',
 '2617368652',
 '2916274672',
 '2765550133',
 '3048183105',
 '2955638106',
 '2976258316',
 '3173591187',
 '3211195890',
 '3158908936',
 '4230405236',
 '4210825151',
 '4211013312',
 '4230474901',
 '4233323646',
 '4234265539',
 '4232130380',
 '4231137013',
 '4233337316',
 '4237632274',
 '4236968700',
 '4237561109',
 '4241781034',
 '4240322227',
 '4243596470',
 '4246161871',
 '4245089476',
 '4246881913',
 '4245305121',
 '4250716159',
 '4252508766',
 '4253170164',
 '4253873853',
 '4252203515',
 '4292979925',
 '4289222866',
 '4255491272',
 '4256363065',
 '4302777137',
 '4302326218',
 '4301155224',
 '4318987067',
 '4321348111',
 '4317480262',
 '4387591872',
 '4387665698',
 '4384932110',
 '2066262239',
 '2140514476',
 '2100701079',
 '2047297971',
 '1980686265',
 '1976337142',
 '2409292868',
 '2255137252',
 '2483120716',
 '2739674591',
 '2792909938',
 '2990584197',
 '2055554966',
 '2015792769',
 '2531482831',
 '2145338833',
 '2761164609',
 '2026993497',
 '3095517446',
 '1991892727',
 '2018127687',
 '2974405531',
 '2302139978',
 '2019585301',
 '2902088246',
 '2055816557',
 '2411094010',
 '2328586066',
 '2790008048',
 '2798630112',
 '2054710229',
 '2055082619',
 '2035961700',
 '3026135288',
 '2325110305',
 '2416384535',
 '3148334029',
 '4295213585',
 '1980202503',
 '151821289',
 '1929681586',
 '2052924560',
 '2094964234',
 '2061016718',
 '2397478822',
 '2413230360',
 '2492623183',
 '2923179103',
 '2911627678',
 '2775629748',
 '3003773117',
 '2972687962',
 '2933517177',
 '4200031520',
 '4200229649',
 '4212955091',
 '4235285030',
 '4236763578',
 '4231931792',
 '4229679011',
 '4240476119',
 '4244502023',
 '4244734768',
 '4243940500',
 '4241850218',
 '4248876345',
 '4250593028',
 '4248245356',
 '4248909155',
 '4250641752',
 '4289297456',
 '4297808008',
 '4307089811',
 '4385065765',
 '4385796728',
 '4387833728',
 '3035422918',
 '2331352092',
 '2041049648',
 '2051215463',
 '3022303484',
 '3041109158',
 '2606058003',
 '2938473681',
 '2810253210',
 '1973783665',
 '2546597833',
 '2024625312',
 '2595425880',
 '2024860137',
 '2023582284',
 '2487004128',
 '1982940059',
 '2081374861',
 '2157456762',
 '2091810555',
 '1996115906',
 '2128098999',
 '1964647853',
 '2047793034',
 '2417387716',
 '2100212122',
 '2484088989',
 '2402333931',
 '2030859242',
 '4288046529',
 '2408918584',
 '2035161908',
 '2900498172',
 '2983786438',
 '2890972426',
 '2036395534',
 '2541260899',
 '4247907042',
 '3191805450',
 '1986760546',
 '19476065',
 '4295796369',
 '2146154807',
 '2079317587',
 '2079086125',
 '2489272585',
 '2575740546',
 '2481067808',
 '2623198361',
 '2809269616',
 '2784805574',
 '3002032100',
 '3022385498',
 '3105856811',
 '4206378480',
 '3169607348',
 '3151417046',
 '4220946215',
 '4229619501',
 '4229923518',
 '4226238093',
 '4240285880',
 '4236042113',
 '4240241291',
 '4241673650',
 '4235819563',
 '4253907783',
 '4249477640',
 '4247219179',
 '4254951894',
 '4245196908',
 '4281689386',
 '4286458968',
 '4292254656',
 '4310064208',
 '4313282187',
 '4303112918',
 '4361801558',
 '4361945637',
 '4367054757',
 '4385983139',
 '4385807902',
 '4380990054',
 '947495885',
 '1996661495',
 '2069814472',
 '2003696176',
 '2171759893',
 '2152968354',
 '3011793052',
 '2023933485',
 '2169970251',
 '2034866908',
 '1987540127',
 '2049539401',
 '1968942028',
 '2094159952',
 '3005071864',
 '1580025297',
 '2614065273',
 '653597189',
 '2806645093',
 '2769955319',
 '1998478166',
 '2907868441',
 '2041971008',
 '2014564060',
 '1623289949',
 '2791108073',
 '2080847716',
 '1525526684',
 '1487643961',
 '3149691249',
 '2090721105',
 '2023582544',
 '2056353542',
 '1970180506',
 '3162022030',
 '1986027318',
 '2084338969',
 '2068246397',
 '4293177306',
 '1968470194',
 '2315186142',
 '2024258862',
 '2009828164',
 '2491367605',
 '3083837636',
 '3008334721',
 ...]

In [ ]:
id_list = random_works_df['PublicationId'].to_list()
print(len(id_list))
needed_paa = all_paa[all_paa['PublicationId'].isin(id_list)]
print(len(needed_paa))
author_count_list = needed_paa.groupby('PublicationId').agg(AuthorCount=('AuthorId', 'count'), AuthorNames=('OrigAuthorName', list)).reset_index()
print(len(author_count_list))
random_works_df = random_works_df.merge(author_count_list, on='PublicationId', how='left')
random_works_df

In [26]:
random_works_df[random_works_df['AuthorCount'].isna()]

,PublicationId,JournalId,Year,NumberCitations,Title,Date,DocType,Doi,PMID,Volume,Issue,FirstPage,LastPage,IsRetracted,IsParaText,AuthorCount
26,4205279783,NaN,1977,1,Spotlight,1977-01-01,article,10.1080/03060497.1977.11083557,NaN,5,5,141,141,False,False,NaN
371,4250560449,NaN,1995,0,Head trauma and blood diseases,1995-05-01,article,10.1007/bf02753590,NaN,62,3,291,291,False,False,NaN
423,4383459494,NaN,1991,0,Statistical Summary of the Rural System in Sou...,1991-12-05,book-chapter,10.1515/9780773563100-017,NaN,NaN,NaN,266,267,False,False,NaN
427,4384636507,NaN,2023,0,"physa, n.",2023-03-02,book-chapter,10.1093/oed/1955218699,NaN,NaN,NaN,NaN,NaN,False,False,NaN
501,4254714524,NaN,1939,1,Dominations and Elections,1939-12-01,article,10.5694/j.1326-5377.1939.tb115614.x,NaN,2,23,852,852,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148,4251681702,NaN,2000,0,CONTENTS,2000-01-01,paratext,10.1515/revneuro.2000.11.2-3.i,NaN,11,2-3,NaN,NaN,False,True,NaN
1149,4250212770,NaN,2021,0,11. Sabdapramana,2021-01-01,article,10.2139/ssrn.3941780,NaN,NaN,NaN,NaN,NaN,False,False,NaN
1150,4247671114,NaN,1969,0,THERAPIST ORIENTATION QUESTIONNAIRE,1969-01-01,book-chapter,10.1016/b978-0-08-006422-2.50024-2,NaN,NaN,NaN,184,192,False,False,NaN
1151,4247704377,NaN,1998,0,Sociolinguistics,1998-04-01,article,10.1017/s0261444800013057,NaN,31,2,106,109,False,False,NaN
1156,4255374622,NaN,2020,0,HALL OF FAME GIFTS AND BENEFACTORS,2020-08-01,book-chapter,10.2307/j.ctv1503gw1.50,NaN,NaN,NaN,303,304,False,False,NaN

In [28]:
all_paa[all_paa['PublicationId'].isin([4255374622, 4247704377, 4247671114])]

Empty DataFrame
Columns: [PublicationId, AuthorId]
Index: []

In [29]:
bibmet_id_list = [int(work) for work in random_works_df['PublicationId'].to_list()]
bibmet_id_list

[2170866237,
 1982793646,
 2013241878,
 2126466006,
 2127548443,
 2242094754,
 2951317825,
 2170217184,
 2332852995,
 2027815162,
 1830373157,
 1429986587,
 2004061347,
 2293869977,
 2377169427,
 2370499641,
 2350967676,
 2391211130,
 2380284986,
 2401942128,
 2467254540,
 3134187599,
 2748061084,
 4291605330,
 2622370393,
 884281907,
 4205279783,
 1842007641,
 2548610616,
 2775296517,
 2802440950,
 2333663200,
 2738560831,
 2913111331,
 2998666130,
 2990399118,
 2919675454,
 3203356558,
 3122060510,
 3113062445,
 397795794,
 953577119,
 625197289,
 1564828837,
 2161194498,
 2224838514,
 2625424264,
 2061064219,
 1010664123,
 2437433125,
 1552517461,
 1562370559,
 1826541919,
 1563287870,
 102365665,
 223684252,
 2253442891,
 2082304819,
 186505441,
 2276223657,
 2359845262,
 2312867456,
 2347451845,
 2369773757,
 2372680630,
 2390526426,
 2527162214,
 2593858188,
 2524609854,
 2588666659,
 2656584671,
 2914234744,
 2742997455,
 2745055512,
 2741413905,
 2914737786,
 2997360397,
 3010019323,
 294436845,
 3008949598,
 3028719004,
 3106586783,
 3145320389,
 3166660510,
 3163143443,
 3210492848,
 401625221,
 3183458782,
 436817495,
 366973618,
 951471170,
 610047284,
 817639940,
 584348102,
 758307083,
 2519696442,
 2187913747,
 2468328088,
 1589053465,
 2601006047,
 122019250,
 2806358130,
 2092092179,
 3174209449,
 2760200748,
 2122636878,
 2972298,
 2413208432,
 268642992,
 1199384315,
 1194948993,
 2767468183,
 160261177,
 1630486889,
 134550877,
 1434438256,
 175495755,
 1887284808,
 182772024,
 1903500555,
 2259596089,
 2243975067,
 2241863392,
 2181526874,
 23132745,
 2314993408,
 2328301663,
 2278322902,
 2411284352,
 2472151064,
 2476402157,
 2506863166,
 2598775674,
 2596224802,
 2602978408,
 2602673738,
 254207242,
 267510647,
 2619123553,
 2736426825,
 2747443693,
 2742421866,
 2896628254,
 2802053022,
 2917620044,
 2940585928,
 2804025805,
 2999776013,
 2991572036,
 297000373,
 3001812404,
 3015331858,
 3088074079,
 308853537,
 3036223707,
 3106698406,
 3119881321,
 3128175768,
 3125831869,
 3116067766,
 3191627643,
 3184742181,
 3174553550,
 3209620294,
 3176040358,
 4286482007,
 603774208,
 589170588,
 601308708,
 8357765,
 889103837,
 973285774,
 2417224513,
 1993153469,
 2226581755,
 2431367172,
 2105200636,
 2506938139,
 2396296759,
 1526287267,
 1486402011,
 135603574,
 1569493429,
 1494177906,
 1604666707,
 1968822525,
 1625227741,
 2044845537,
 2255370198,
 2182791943,
 225473920,
 2272703185,
 2261364571,
 2300955930,
 2339740929,
 2298865413,
 2321644477,
 2376920545,
 2405365660,
 2476971128,
 2417147664,
 2530303385,
 2529902584,
 2534798608,
 2566596941,
 2510002392,
 2729808212,
 2791065165,
 2732684062,
 2761452069,
 2729582346,
 2939401455,
 2945063046,
 2792458035,
 2915681494,
 2905239233,
 2987353314,
 2965427236,
 2999998780,
 2981475387,
 2950042251,
 3087792744,
 3139205249,
 3081105151,
 3047550212,
 3093183986,
 3174890245,
 3166378183,
 3203230174,
 3213679560,
 3174928401,
 403040077,
 586991239,
 481567871,
 602542166,
 568573902,
 631421000,
 821271771,
 813265187,
 818218721,
 607564166,
 1975977840,
 653223999,
 1554668059,
 2242369495,
 1490474293,
 1875666641,
 2298122165,
 2288523118,
 2380250704,
 2372799769,
 2809945681,
 2784266318,
 2586354896,
 2779255878,
 2967434407,
 2901503465,
 3135945404,
 2945312980,
 568374245,
 3159383344,
 581905035,
 3188805215,
 637637890,
 914236744,
 2904900692,
 3009741824,
 1937172667,
 218838344,
 2247336123,
 202749503,
 2285972084,
 2063356866,
 1606555944,
 2534138253,
 2382729829,
 2370519818,
 2393717271,
 2946125524,
 2580888440,
 2587220002,
 2803935839,
 2957517215,
 3010184470,
 3044223247,
 3110139429,
 3136594479,
 2988005200,
 3209352322,
 656594163,
 580398365,
 367562124,
 4312210,
 2001160038,
 2893320887,
 2181673067,
 2585473042,
 1445286879,
 2285794407,
 1569672694,
 12007051,
 1000488448,
 1034418248,
 1029194678,
 1014574594,
 1544733977,
 1566374269,
 1492630504,
 1203792847,
 1556084078,
 2034196048,
 1595040587,
 1910140040,
 2041589518,
 2202131256,
 225101787,
 2160069409,
 2147620142,
 2182599576,
 2257527384,
 2290902982,
 2253799347,
 2338471688,
 2263910796,
 2342157384,
 2347653806,
 2348773495,
 2340876545,
 2374649758,
 2370158697,
 2377300841,
 2394006448,
 24338552,
 2520677869,
 2415311785,
 2587671389,
 2592479031,
 2597005386,
 2587628100,
 2580030354,
 2785881832,
 2788751970,
 267087736,
 2764099031,
 2747125396,
 2897295461,
 2912686361,
 2806121058,
 2896609683,
 2923409088,
 2999863476,
 3005606607,
 2994173746,
 2973774205,
 2994479068,
 3023021958,
 3048736476,
 3016177640,
 308229657,
 3093394480,
 3132682060,
 3128339739,
 3164342832,
 3149321518,
 3175899769,
 3188009627,
 3202679823,
 3201281450,
 3167346957,
 404868600,
 368189614,
 4250560449,
 375854734,
 4297808616,
 627011566,
 43740589,
 602982084,
 567820934,
 587452067,
 981187994,
 941928928,
 846241669,
 838835392,
 906102144,
 2044132788,
 2047529496,
 3009144350,
 78131968,
 1575543404,
 2990020837,
 135290616,
 1558922182,
 77303884,
 1517126064,
 1557353928,
 1863158675,
 1534223542,
 2259113357,
 2292980877,
 2345515643,
 2258955785,
 2368980625,
 2463609765,
 2461139554,
 2407465426,
 2509432907,
 2509262653,
 268595442,
 2487372407,
 2759609383,
 2912528820,
 2755842827,
 2964066077,
 2954873219,
 3048890677,
 2989826587,
 3023329135,
 3031016776,
 350365613,
 3201862778,
 319329294,
 409861839,
 333508229,
 4383459494,
 650827705,
 596111154,
 622480801,
 4384636507,
 2244059239,
 2076970405,
 2339904060,
 2606055590,
 111271690,
 70108980,
 2558332810,
 1181842361,
 1480913544,
 1485107263,
 175086218,
 1496464879,
 2179967823,
 1832034269,
 2057622721,
 2189123411,
 2245566180,
 2306593873,
 2274161224,
 2294607279,
 2277590364,
 2361842376,
 2380131183,
 2369991043,
 2396296179,
 2567565336,
 2563490805,
 2516575473,
 2741892695,
 2740170725,
 2613519450,
 2614477456,
 2592674351,
 2893714517,
 2801647607,
 290140889,
 2785646272,
 2784594309,
 3015063816,
 2971268947,
 3031123792,
 3026626612,
 3002488233,
 3081351765,
 3111650150,
 3105061839,
 3094535867,
 3090513228,
 3205290275,
 3213127521,
 3211152423,
 388274845,
 35205522,
 4211054923,
 419693303,
 579595682,
 406331113,
 419355227,
 62677455,
 96120810,
 855179669,
 636560825,
 649257880,
 655544044,
 2276078338,
 2403658333,
 4288445871,
 1562343724,
 1576159621,
 2063872742,
 1997423919,
 2887175723,
 1654258518,
 4254714524,
 2312534214,
 2257468796,
 2185573367,
 2337236110,
 2392882209,
 2605644316,
 2595252821,
 2588566171,
 2751174099,
 2795497442,
 2831667364,
 3036054200,
 4231519216,
 4237893113,
 4237959552,
 3120811545,
 4243127654,
 4240421791,
 4319068111,
 4378217654,
 949819228,
 4200363421,
 4388382103,
 1987818268,
 2551820825,
 1543568994,
 2280189589,
 2781692400,
 2134264935,
 2142792374,
 1970634720,
 2045637726,
 2085194261,
 1570468464,
 4319053999,
 2199024328,
 2996694792,
 2025332307,
 1004032838,
 2072038336,
 2784002847,
 4294122580,
 137390849,
 2963951759,
 2088376308,
 2323725685,
 2122116386,
 2043565585,
 2324229198,
 4254430969,
 4205764143,
 1978369001,
 2025013123,
 1574652150,
 2328311959,
 2668593639,
 2417694711,
 2762557546,
 2796801229,
 2912484471,
 3091674295,
 37320899,
 4207018696,
 4229869552,
 4238178743,
 4213385266,
 4233889268,
 4234178723,
 4242130287,
 4248520306,
 4244929726,
 4249596230,
 4246637189,
 4254184834,
 4295289376,
 4252985733,
 4254478606,
 4322492134,
 4321850888,
 4316016764,
 4386879186,
 1787356229,
 1980294811,
 2085778082,
 2891902207,
 2522705998,
 1538042026,
 2075309239,
 1583618209,
 2101207464,
 2584623713,
 2530391366,
 4235549209,
 2286947580,
 2029871825,
 2496014719,
 3131612729,
 1497116451,
 2040732741,
 2496771021,
 2339510905,
 3043207321,
 2995294335,
 2963292392,
 3202840560,
 4232361831,
 4232000549,
 4242099381,
 4254123034,
 4248944089,
 4293210478,
 4249070318,
 4379623954,
 2013554749,
 2410082532,
 2468186554,
 2992874861,
 3176757391,
 86249922,
 2101521576,
 2321871359,
 2610811490,
 1983317392,
 2237271049,
 2275473094,
 2782642993,
 1597602540,
 3212173231,
 2081105498,
 2086118703,
 4242238992,
 1971635396,
 2490381425,
 2034389949,
 2408620869,
 3163929996,
 2908985570,
 2463007927,
 2077331864,
 2433867917,
 2547233788,
 2016006927,
 2500236998,
 2138474978,
 4291451888,
 4232757013,
 3214067940,
 3107158643,
 2417594386,
 2411436138,
 2048510054,
 2970718102,
 2929038951,
 1601084886,
 1993906032,
 1495755953,
 2254325598,
 2079764258,
 2070384425,
 2319800779,
 2398226326,
 2318811360,
 2418166829,
 2410889595,
 2420250145,
 2417497775,
 2469998236,
 2533591861,
 2491736697,
 2474764561,
 2784846024,
 2943770008,
 2889457150,
 3012890025,
 2978446459,
 2969384781,
 3128715304,
 4214872616,
 3178520925,
 4229447553,
 4229830665,
 4232904713,
 4240143817,
 4231179947,
 4250937332,
 4254489030,
 4242777169,
 4249319389,
 4246163648,
 4299950843,
 4290346687,
 4302594125,
 4302402704,
 4378215733,
 4320169727,
 4376504536,
 4388182877,
 4388022669,
 4384836780,
 2075733422,
 2064892255,
 2154765187,
 2036174558,
 1958689744,
 2067921717,
 2033320712,
 2072465425,
 1970162820,
 2108937282,
 2085519233,
 2090951043,
 3034234237,
 2004132079,
 2322230158,
 2936346281,
 2073563625,
 2001632566,
 1978983666,
 2143488795,
 4213246051,
 3013871613,
 3110931972,
 2035270541,
 2741237652,
 2051732646,
 2899795012,
 2021335143,
 2135907611,
 3137068113,
 2120542471,
 2100513003,
 3204776932,
 3216546566,
 2331572191,
 2318403210,
 2115530329,
 3038134359,
 2940570341,
 4205185598,
 179695552,
 1632141752,
 4368374452,
 2053433164,
 2040185723,
 2070595551,
 2092903347,
 2319712186,
 2317606992,
 2427641206,
 2412697205,
 2494986056,
 2469299385,
 2617368652,
 2916274672,
 2765550133,
 3048183105,
 2955638106,
 2976258316,
 3173591187,
 3211195890,
 3158908936,
 4230405236,
 4210825151,
 4211013312,
 4230474901,
 4233323646,
 4234265539,
 4232130380,
 4231137013,
 4233337316,
 4237632274,
 4236968700,
 4237561109,
 4241781034,
 4240322227,
 4243596470,
 4246161871,
 4245089476,
 4246881913,
 4245305121,
 4250716159,
 4252508766,
 4253170164,
 4253873853,
 4252203515,
 4292979925,
 4289222866,
 4255491272,
 4256363065,
 4302777137,
 4302326218,
 4301155224,
 4318987067,
 4321348111,
 4317480262,
 4387591872,
 4387665698,
 4384932110,
 2066262239,
 2140514476,
 2100701079,
 2047297971,
 1980686265,
 1976337142,
 2409292868,
 2255137252,
 2483120716,
 2739674591,
 2792909938,
 2990584197,
 2055554966,
 2015792769,
 2531482831,
 2145338833,
 2761164609,
 2026993497,
 3095517446,
 1991892727,
 2018127687,
 2974405531,
 2302139978,
 2019585301,
 2902088246,
 2055816557,
 2411094010,
 2328586066,
 2790008048,
 2798630112,
 2054710229,
 2055082619,
 2035961700,
 3026135288,
 2325110305,
 2416384535,
 3148334029,
 4295213585,
 1980202503,
 151821289,
 1929681586,
 2052924560,
 2094964234,
 2061016718,
 2397478822,
 2413230360,
 2492623183,
 2923179103,
 2911627678,
 2775629748,
 3003773117,
 2972687962,
 2933517177,
 4200031520,
 4200229649,
 4212955091,
 4235285030,
 4236763578,
 4231931792,
 4229679011,
 4240476119,
 4244502023,
 4244734768,
 4243940500,
 4241850218,
 4248876345,
 4250593028,
 4248245356,
 4248909155,
 4250641752,
 4289297456,
 4297808008,
 4307089811,
 4385065765,
 4385796728,
 4387833728,
 3035422918,
 2331352092,
 2041049648,
 2051215463,
 3022303484,
 3041109158,
 2606058003,
 2938473681,
 2810253210,
 1973783665,
 2546597833,
 2024625312,
 2595425880,
 2024860137,
 2023582284,
 2487004128,
 1982940059,
 2081374861,
 2157456762,
 2091810555,
 1996115906,
 2128098999,
 1964647853,
 2047793034,
 2417387716,
 2100212122,
 2484088989,
 2402333931,
 2030859242,
 4288046529,
 2408918584,
 2035161908,
 2900498172,
 2983786438,
 2890972426,
 2036395534,
 2541260899,
 4247907042,
 3191805450,
 1986760546,
 19476065,
 4295796369,
 2146154807,
 2079317587,
 2079086125,
 2489272585,
 2575740546,
 2481067808,
 2623198361,
 2809269616,
 2784805574,
 3002032100,
 3022385498,
 3105856811,
 4206378480,
 3169607348,
 3151417046,
 4220946215,
 4229619501,
 4229923518,
 4226238093,
 4240285880,
 4236042113,
 4240241291,
 4241673650,
 4235819563,
 4253907783,
 4249477640,
 4247219179,
 4254951894,
 4245196908,
 4281689386,
 4286458968,
 4292254656,
 4310064208,
 4313282187,
 4303112918,
 4361801558,
 4361945637,
 4367054757,
 4385983139,
 4385807902,
 4380990054,
 947495885,
 1996661495,
 2069814472,
 2003696176,
 2171759893,
 2152968354,
 3011793052,
 2023933485,
 2169970251,
 2034866908,
 1987540127,
 2049539401,
 1968942028,
 2094159952,
 3005071864,
 1580025297,
 2614065273,
 653597189,
 2806645093,
 2769955319,
 1998478166,
 2907868441,
 2041971008,
 2014564060,
 1623289949,
 2791108073,
 2080847716,
 1525526684,
 1487643961,
 3149691249,
 2090721105,
 2023582544,
 2056353542,
 1970180506,
 3162022030,
 1986027318,
 2084338969,
 2068246397,
 4293177306,
 1968470194,
 2315186142,
 ...]

In [30]:
# 6min
# (B) 引用先の論文の抽出
B_relations = references_df[references_df['CitedPublicationId'].isin(bibmet_id_list)]

# (C) 参考文献に挙げた論文
C_relations = references_df[references_df['CitingPublicationId'].isin(bibmet_id_list)]

# (D) 更に「参考文献に挙げた論文」を参考文献に挙げている論文の抽出
# まず(C)からCitedPublicationIdを取得し、それを引用している論文を探す
C_cited_ids = C_relations['CitedPublicationId'].unique()
D_relations = references_df[references_df['CitedPublicationId'].isin(C_cited_ids)]

B_relations, D_relations

(        CitingPublicationId CitedPublicationId
 15179            2082805732         2069814472
 61785            1461953811         2093032015
 164653           3177720207         2126466006
 191593           1605452458         2126466006
 212078           2086215418         2126466006
 ...                     ...                ...
 9294566          2081093505         2126466006
 9306233          2084205412         2013241878
 9334559          2091687374         1970634720
 9375439          2107422072         2013241878
 9394085          2115749521         2013241878

 [20124 rows x 2 columns],
         CitingPublicationId CitedPublicationId
 36               2093406744         2136022845
 567              2171641398         2107277218
 606              2136902758         2024112877
 257              1993661162         1775749144
 144              2119925004         2051921020
 ...                     ...                ...
 9434822          2134000226         2059542112
 9435652          2134334595         2158714788
 9435702          2134372864         1775749144
 9435720          2134372864         4293247451
 9435795          2134438334         2053704719

 [4862794 rows x 2 columns])

In [12]:
# D_relations[D_relations['CitedPublicationId'] == 1976880180]

Empty DataFrame
Columns: [CitingPublicationId, CitedPublicationId]
Index: []

In [13]:
# D_relations[D_relations['CitingPublicationId'] == 2573593301]

    CitingPublicationId CitedPublicationId
359          2573593301         2145007605

In [14]:
# references_df[references_df['CitedPublicationId'] == 55183993]

        CitingPublicationId CitedPublicationId
0                3117235547           55183993
0                2031878785           55183993
3247108          1914197438           55183993
454530           3138296954           55183993
271815            648156390           55183993
...                     ...                ...
953090           2460761523           55183993
6128321           585472863           55183993
6986859          2044549312           55183993
2359164          3195613568           55183993
5922122          1845937347           55183993

[66 rows x 2 columns]

In [15]:
# references_df[references_df['CitedPublicationId'] == '55183993']

Empty DataFrame
Columns: [CitingPublicationId, CitedPublicationId]
Index: []

In [31]:
works_rel_ref_df = pd.concat([B_relations, C_relations, D_relations]).drop_duplicates().reset_index(drop=True)
works_rel_ref_df.rename(columns={'CitingPublicationId': 'source', 'CitedPublicationId': 'target'}, inplace=True)
works_rel_ref_df

             source      target
0        2082805732  2069814472
1        1461953811  2093032015
2        3177720207  2126466006
3        1605452458  2126466006
4        2086215418  2126466006
...             ...         ...
4882913  2134000226  2059542112
4882914  2134334595  2158714788
4882915  2134372864  1775749144
4882916  2134372864  4293247451
4882917  2134438334  2053704719

[4882918 rows x 2 columns]

In [32]:
random_works_df.set_index('PublicationId', inplace=True)
random_works_df

,JournalId,Year,NumberCitations,Title,Date,DocType,Doi,PMID,Volume,Issue,FirstPage,LastPage,IsRetracted,IsParaText,AuthorCount
PublicationId,,,,,,,,,,,,,,,
2170866237,NaN,1988,2,Testing Safety Assessment Models Using Natural...,1988-01-01,article,10.1557/proc-127-863,NaN,NaN,NaN,NaN,NaN,False,False,5.0
1982793646,NaN,1989,7,Design Procedures for Fiber Composite Box Beams,1989-07-01,article,10.1177/073168448900800404,NaN,8,4,370,397,False,False,2.0
2013241878,NaN,1970,1900,Viral RNA-dependent DNA Polymerase: RNA-depend...,1970-06-01,article,10.1038/2261209a0,4316300,226,5252,1209,1211,False,False,1.0
2126466006,NaN,1953,11079,Molecular Structure of Nucleic Acids: A Struct...,1953-04-25,article,10.1038/171737a0,13054692,171,4356,737,738,False,False,2.0
2127548443,NaN,2015,2,An X-ray diffractometer using mirage diffracti...,2015-01-30,article,10.1107/s1600576714026028,26089753,48,1,312,312,False,False,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2129436324,NaN,1999,44,Bone health: the role of micronutrients,1999-01-01,article,10.1258/0007142991902501,10746351,55,3,619,633,False,False,1.0
2090206302,NaN,1980,36,CLINICAL TRIAL OF DESFERRIOXAMINE ENTRAPPED IN...,1980-08-01,article,10.1016/s0140-6736(80)90336-0,6105474,316,8190,327,330,False,False,6.0
2069294162,NaN,1996,33,Nonvisualization of the fetal gallbladder: fre...,1996-06-01,article,10.1148/radiology.199.3.8637986,8637986,199,3,679,682,False,False,8.0
3167557254,NaN,2021,29,C-type lectins and extracellular vesicles in v...,2021-06-11,article,10.1186/s12929-021-00741-7,34116654,28,1,NaN,NaN,False,False,6.0
2139185522,NaN,1992,32,The Effects of Tort Reform on Medical Malpract...,1992-02-01,article,10.1215/03616878-17-1-143,1619247,17,1,143,161,False,False,1.0

In [37]:
random_works_df.to_pickle(OUTPUT_WORKS_SMALL_DF_PKL)
works_rel_ref_df.to_pickle(OUTPUT_WORKS_REL_REF_SMALL_DF_PKL)

In [8]:
works_list = pickle.load(open(INPUT_WU_WORKS_LIST_PKL, 'rb'))

In [27]:
works_list = random.sample(works_list,1000000)
display(len(works_list), works_list[:5])

1000000

[[7, 1, 0.0005817335660267597, 8.0, 114.0],
 [3, 2, -0.000461361014994233, 15.0, 234.5],
 [3, 254, -0.021009362868234755, 3.77419354839, 117.0],
 [2, 15, -0.004055619930475087, 6.66666666667, 42.0],
 [12, 6, -0.0020931449502878076, 5.24242424242, 15.0]]

In [34]:
pickle.dump(works_list, open(OUTPUT_WU_WORKS_LIST_SMALL_PKL, 'wb'))