In [20]:
%pip install pyscisci networkx python-Levenshtein sparse_dot_topn matplotlib boto3 widgetsnbextension ipywidgets "dask[distributed]" --upgrade

Requirement already satisfied: pyscisci in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (0.8.11)
Requirement already satisfied: networkx in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (3.2.1)
Requirement already satisfied: python-Levenshtein in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (0.25.0)
Requirement already satisfied: sparse_dot_topn in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (1.0.0)
Requirement already satisfied: matplotlib in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (3.8.3)
Requirement already satisfied: boto3 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (1.34.49)
Collecting boto3
  Downloading boto3-1.34.52-py3-none-any.whl.metadata (6.6 kB)
Requirement already satisfied: widgetsnbextension in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (4.0.10)
Requirement already satisfied: ipywidgets in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (8.1.2)
Requirement already satisfied: dask[distributed] in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (2024.2.1)
Requirement already satisfied: pandas in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (2.1.4)
Requirement already satisfied: numpy in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (1.26.3)
Requirement already satisfied: scipy in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (1.11.4)
Requirement already satisfied: scikit-learn in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (1.3.2)
Requirement already satisfied: nameparser in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (1.1.3)
Requirement already satisfied: lxml in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (5.1.0)
Requirement already satisfied: requests in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (2.31.0)
Requirement already satisfied: unidecode in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (1.3.8)
Requirement already satisfied: tqdm in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (4.66.1)
Requirement already satisfied: numba in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (0.59.0)
Requirement already satisfied: Levenshtein==0.25.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from python-Levenshtein) (0.25.0)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.1.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from Levenshtein==0.25.0->python-Levenshtein) (3.6.1)
Requirement already satisfied: psutil in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from sparse_dot_topn) (5.9.7)
Requirement already satisfied: contourpy>=1.0.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (4.47.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Collecting botocore<1.35.0,>=1.34.52 (from boto3)
  Downloading botocore-1.34.52-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from boto3) (0.10.0)
Requirement already satisfied: comm>=0.1.3 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipywidgets) (0.2.1)
Requirement already satisfied: ipython>=6.1.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipywidgets) (8.20.0)
Requirement already satisfied: traitlets>=4.3.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipywidgets) (5.14.1)
Requirement already satisfied: jupyterlab-widgets~=3.0.10 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipywidgets) (3.0.10)
Requirement already satisfied: click>=8.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (8.1.7)
Requirement already satisfied: cloudpickle>=1.5.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (3.0.0)
Requirement already satisfied: fsspec>=2021.09.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (2024.2.0)
Requirement already satisfied: partd>=1.2.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (1.4.1)
Requirement already satisfied: pyyaml>=5.3.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (0.12.1)
Requirement already satisfied: importlib-metadata>=4.13.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (7.0.1)
Requirement already satisfied: distributed==2024.2.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (2024.2.1)
Requirement already satisfied: jinja2>=2.10.3 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (3.1.3)
Requirement already satisfied: locket>=1.0.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (1.0.0)
Requirement already satisfied: msgpack>=1.0.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (1.0.7)
Requirement already satisfied: sortedcontainers>=2.0.5 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (3.0.0)
Requirement already satisfied: tornado>=6.0.4 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (6.4)
Requirement already satisfied: urllib3>=1.24.3 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (2.0.7)
Requirement already satisfied: zict>=3.0.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (3.0.0)
Requirement already satisfied: zipp>=0.5 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from importlib-metadata>=4.13.0->dask[distributed]) (3.17.0)
Requirement already satisfied: decorator in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (0.19.1)
Requirement already satisfied: matplotlib-inline in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (2.17.2)
Requirement already satisfied: stack-data in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: exceptiongroup in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (4.9.0)
Requirement already satisfied: six>=1.5 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from numba->pyscisci) (0.42.0)
Requirement already satisfied: pytz>=2020.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pandas->pyscisci) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pandas->pyscisci) (2023.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from requests->pyscisci) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from requests->pyscisci) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from requests->pyscisci) (2023.11.17)
Requirement already satisfied: joblib>=1.1.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from scikit-learn->pyscisci) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from scikit-learn->pyscisci) (3.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from jinja2>=2.10.3->distributed==2024.2.1->dask[distributed]) (2.1.5)
Requirement already satisfied: ptyprocess>=0.5 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: wcwidth in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.4.1)
Requirement already satisfied: pure-eval in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Downloading boto3-1.34.52-py3-none-any.whl (139 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.3/139.3 kB 8.7 MB/s eta 0:00:00
Downloading botocore-1.34.52-py3-none-any.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 62.4 MB/s eta 0:00:0000:010:01
Installing collected packages: botocore, boto3
  Attempting uninstall: botocore
    Found existing installation: botocore 1.34.49
    Uninstalling botocore-1.34.49:
      Successfully uninstalled botocore-1.34.49
  Attempting uninstall: boto3
    Found existing installation: boto3 1.34.49
    Uninstalling boto3-1.34.49:
      Successfully uninstalled boto3-1.34.49
Successfully installed boto3-1.34.52 botocore-1.34.52

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [33]:
import pyscisci.all as pyscisci

import random
import pickle
import os
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

import dask.dataframe as dd

%matplotlib inline

path2openalex = '/disks/qnap2/data/t-yatima/openalex231124/data/'

DATA_DIR = '/disks/qnap2/data/t-yatima/scisciJP2024_tutorial/'
INPUT_D_LIST_PKL = DATA_DIR + 'D_values.pkl'
INPUT_WU_WORKS_LIST_PKL = DATA_DIR + 'teamsize_impact_disrup_refAge_refPop.pkl'
OUTPUT_WU_WORKS_LIST_SMALL_PKL = 'supplementary/teamsize_impact_disrup_refAge_refPop_small.pkl'
OUTPUT_WORKS_DF_PKL = DATA_DIR + 'random_works_df.pkl'
OUTPUT_WORKS_REL_REF_DF_PKL = DATA_DIR + 'random_rel_ref_df.pkl'
OUTPUT_CITATIONS_GB_DF_PKL = DATA_DIR + 'citations_gb_df.pkl'

myoa = pyscisci.OpenAlex(path2openalex, database_extension='csv.gz', keep_in_memory=True, show_progress=True, enable_dask=True) 

from dask.diagnostics import ProgressBar
ProgressBar().register()

from dask.distributed import progress

In [2]:
all_pub_ddf = myoa.load_publications()
all_pub_ddf

Loading Publications:   0%|          | 0/480 [00:00<?, ?it/s]

Dask DataFrame Structure:
                PublicationId JournalId    Year NumberCitations   Title    Date DocType     Doi    PMID  Volume   Issue FirstPage LastPage IsRetracted IsParaText
npartitions=480
                       object    object  object          object  object  object  object  object  object  object  object    object   object      object     object
                          ...       ...     ...             ...     ...     ...     ...     ...     ...     ...     ...       ...      ...         ...        ...
...                       ...       ...     ...             ...     ...     ...     ...     ...     ...     ...     ...       ...      ...         ...        ...
                          ...       ...     ...             ...     ...     ...     ...     ...     ...     ...     ...       ...      ...         ...        ...
                          ...       ...     ...             ...     ...     ...     ...     ...     ...     ...     ...       ...      ...         ...        ...
Dask Name: concat, 7077 graph layers

In [3]:
# 9min
references_df = myoa.load_references()
display(references_df)

Loading pub2ref:   0%|          | 0/480 [00:00<?, ?it/s]

        CitingPublicationId CitedPublicationId
0                3117235547           55183993
1                3117235547          657382535
2                3117235547         1540739244
3                3117235547         1582266453
4                3117235547         1642177666
...                     ...                ...
9436475          2134809571         2090594024
9436476          2134809571         2124054840
9436477          2134809571         2147932722
9436478          2134809571         2158145285
9436479          2134809571         4235794113

[1683280953 rows x 2 columns]

In [4]:
references_df[references_df['CitingPublicationId'] == 2133895471]

Empty DataFrame
Columns: [CitingPublicationId, CitedPublicationId]
Index: []

In [5]:
references_df[references_df['CitedPublicationId'] == 2133895471]

         CitingPublicationId CitedPublicationId
2382733           2133634407         2133895471
166217              65896575         2133895471
61526             2180197584         2133895471
1910930           2064783168         2133895471
7965554           1510389535         2133895471
8956457           2030085258         2133895471
209772            2012904459         2133895471
3971004           2060282627         2133895471
7427693           1502129278         2133895471
7615629           2074890356         2133895471
73350             3129179664         2133895471
3635227           2101852508         2133895471
8129834           2032764238         2133895471
9398387           1996701608         2133895471
7726358           2034237009         2133895471
1568881           2028516245         2133895471
7865134           2005687467         2133895471
5015250             84942274         2133895471
4108533           2169772764         2133895471
2819550           2005928378         2133895471
5022040           1964998843         2133895471
4348437           1982551706         2133895471
8147031           2097851686         2133895471
3200721           2041099984         2133895471
282577            2160890391         2133895471
3629414             41800138         2133895471
7580145           2143073814         2133895471
8540164           1969661090         2133895471
8328814           2090982438         2133895471
3211024           2560504615         2133895471
5673615             84994331         2133895471
6428991           2029466440         2133895471
7801885           2787336147         2133895471
6441711           2610438241         2133895471
7208198           2956159809         2133895471
5029648           3041156154         2133895471
6370045           4211056068         2133895471
2359498           2195580779         2133895471
2478224           2096695442         2133895471
4806773           2011802583         2133895471
6263592           2149204948         2133895471
284427            1997396577         2133895471
529976            2900983372         2133895471
5497585           1991378672         2133895471
537385            1524229752         2133895471
5338918           3196801363         2133895471
153756            3133985709         2133895471
12213781           182659067         2133895471
7090572           2039326242         2133895471
1486649           2149221003         2133895471

In [6]:
# 8min
random_works_ddf = all_pub_ddf.sample(frac=0.0002, random_state=1)
random_works_df = random_works_ddf.compute()

[########################################] | 100% Completed | 548.17 s

In [7]:
random_works_df

,PublicationId,JournalId,Year,NumberCitations,Title,Date,DocType,Doi,PMID,Volume,Issue,FirstPage,LastPage,IsRetracted,IsParaText
84767,2242094754,NaN,2005,0,Understanding what child protection data mean:...,2005-08-11,article,NaN,NaN,NaN,NaN,NaN,NaN,False,False
183235,2951317825,NaN,2015,0,Desvendando o Universo com o Céu da Serra Gaúcha,2015-11-30,article,NaN,NaN,3,3,NaN,NaN,False,False
198349,3030572269,NaN,2018,0,The estrogen deficiency hypothesis of schizoph...,2018-12-05,article,10.3760/cma.j.issn.1006-7884.2018.06.010,NaN,51,6,385,388,False,False
233808,353247501,NaN,1977,0,"金大中氏拉致事件(ドキュメント)--コリアゲ-トの決壊〔含 日誌,解説〕",1977-02-01,article,NaN,NaN,NaN,375,206,227,False,False
259672,423748994,NaN,1957,0,フランス法におけるfonds de commerce(営業)について,1957-07-01,article,NaN,NaN,2,1,73,108,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328519,2076168890,NaN,2010,25,Pozzolanic activity of Hwangtoh clay,2010-12-01,article,10.1016/j.conbuildmat.2010.04.061,NaN,24,12,2638,2645,False,False
138771,2468394869,NaN,2017,29,Evaluation of the toxicity of fungicides to fl...,2017-01-01,article,10.1016/j.pestbp.2016.06.007,28043329,135,NaN,41,46,False,False
162817,2011433783,NaN,2011,28,Altered metabolism of maternal micronutrients ...,2011-11-01,article,10.1016/j.mehy.2011.08.001,21890280,77,5,878,883,False,False
306200,1589905817,NaN,1982,25,Principles of Data Security,1982-01-01,book,10.1007/978-1-4684-4316-5,NaN,NaN,NaN,NaN,NaN,False,False
176879,2095273630,NaN,1981,28,Relaxations and their strain derivatives aroun...,1981-07-30,article,10.1088/0022-3719/14/21/007,NaN,14,21,2889,2898,False,False

In [8]:
# 11min
all_paa = myoa.load_publicationauthoraffiliation()
all_paa

Loading Publication Author Affiliation:   0%|          | 0/480 [00:00<?, ?it/s]

/home/t-yatima/t-yatima/.venv/lib/python3.10/site-packages/pyscisci/datasource/readwrite.py:203: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat(data)

,PublicationId,AuthorId,AffiliationId,AuthorSequence,OrigAuthorName
0,4287754650,5062226449,NaN,1,Enrico Biffis
1,4287754650,5033140346,NaN,2,Erik Chavez
2,4287754650,5061623148,NaN,3,Alexis Louaas
3,4287754650,5074952038,NaN,4,Pierre M. Picard
4,4287938432,5045351019,NaN,1,Arthur Hugeat
...,...,...,...,...,...
1810902,2134809571,5004197195,1.355989e+08,3,Hiroki Shibata
1810903,2134809571,5061432587,4.210123e+09,4,Tomomi Saito
1810904,2134809571,5029531503,4.240550e+07,5,Osamu Doi
1810905,2134809571,5004358248,4.240550e+07,6,Yutaka Ohya
1810906,2134809571,5011973675,4.240550e+07,7,Norio Yoshizaki

In [9]:
# all_paaでPublicationIdごとにAuthorIdの数を数える
all_paa.drop(columns=['AffiliationId', 'AuthorSequence', 'OrigAuthorName'], inplace=True)
author_count = all_paa.groupby('PublicationId').count().reset_index()
author_count.columns = ['PublicationId', 'AuthorCount']  # 列名を変更

# random_works_dfに結果を結合する
random_works_df = random_works_df.merge(author_count, on='PublicationId', how='left')
random_works_df

,PublicationId,JournalId,Year,NumberCitations,Title,Date,DocType,Doi,PMID,Volume,Issue,FirstPage,LastPage,IsRetracted,IsParaText,AuthorCount
0,2242094754,NaN,2005,0,Understanding what child protection data mean:...,2005-08-11,article,NaN,NaN,NaN,NaN,NaN,NaN,False,False,2.0
1,2951317825,NaN,2015,0,Desvendando o Universo com o Céu da Serra Gaúcha,2015-11-30,article,NaN,NaN,3,3,NaN,NaN,False,False,4.0
2,3030572269,NaN,2018,0,The estrogen deficiency hypothesis of schizoph...,2018-12-05,article,10.3760/cma.j.issn.1006-7884.2018.06.010,NaN,51,6,385,388,False,False,1.0
3,353247501,NaN,1977,0,"金大中氏拉致事件(ドキュメント)--コリアゲ-トの決壊〔含 日誌,解説〕",1977-02-01,article,NaN,NaN,NaN,375,206,227,False,False,1.0
4,423748994,NaN,1957,0,フランス法におけるfonds de commerce(営業)について,1957-07-01,article,NaN,NaN,2,1,73,108,False,False,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45530,2076168890,NaN,2010,25,Pozzolanic activity of Hwangtoh clay,2010-12-01,article,10.1016/j.conbuildmat.2010.04.061,NaN,24,12,2638,2645,False,False,4.0
45531,2468394869,NaN,2017,29,Evaluation of the toxicity of fungicides to fl...,2017-01-01,article,10.1016/j.pestbp.2016.06.007,28043329,135,NaN,41,46,False,False,5.0
45532,2011433783,NaN,2011,28,Altered metabolism of maternal micronutrients ...,2011-11-01,article,10.1016/j.mehy.2011.08.001,21890280,77,5,878,883,False,False,4.0
45533,1589905817,NaN,1982,25,Principles of Data Security,1982-01-01,book,10.1007/978-1-4684-4316-5,NaN,NaN,NaN,NaN,NaN,False,False,1.0
45534,2095273630,NaN,1981,28,Relaxations and their strain derivatives aroun...,1981-07-30,article,10.1088/0022-3719/14/21/007,NaN,14,21,2889,2898,False,False,1.0

In [10]:
bibmet_id_list = [int(work) for work in random_works_df['PublicationId'].to_list()]
bibmet_id_list

[2242094754,
 2951317825,
 3030572269,
 353247501,
 423748994,
 3140467897,
 600221648,
 600340109,
 1129359357,
 806319339,
 2011382101,
 418273658,
 1955343276,
 2261115044,
 593195327,
 2102983573,
 2904163544,
 2254226425,
 3213920623,
 3028340796,
 3197833236,
 333645419,
 2292987227,
 4300175606,
 586206721,
 1021614813,
 2369894610,
 561573473,
 597990456,
 179446277,
 1559185838,
 28721133,
 4318538264,
 4327593038,
 2500416614,
 2379598691,
 2098030745,
 3137758815,
 2269698071,
 2256635544,
 367615199,
 2372627520,
 2313657755,
 2070456871,
 2340998267,
 2283355807,
 75216325,
 3029494918,
 3028650866,
 3088404512,
 958653214,
 162361947,
 969464301,
 2299861510,
 2905853258,
 2921534856,
 641200500,
 2995043144,
 3032579228,
 411410270,
 423560238,
 2261032407,
 1488539424,
 611272427,
 4206311784,
 597022508,
 2170217184,
 2332852995,
 2027815162,
 1993059412,
 2288244090,
 2482114918,
 2471221814,
 2055909729,
 2076327783,
 2134455278,
 2073739065,
 2047865380,
 2889443114,
 2444544129,
 2367233520,
 1998875271,
 1816790508,
 2349893302,
 2162778786,
 2323032971,
 1970908398,
 2083688121,
 2298064217,
 4224275439,
 2096425138,
 2093697132,
 2328190522,
 1582743933,
 4235069784,
 2479560160,
 2119585918,
 3162724938,
 1566629283,
 2075383954,
 4250883254,
 2318227003,
 2416937315,
 2247749927,
 2000980182,
 1943436787,
 2796914320,
 1993928186,
 2100458557,
 2062714468,
 24527347,
 2021183686,
 2592095775,
 2126161869,
 2916637224,
 2161254395,
 1999868121,
 1813534488,
 2384546741,
 2589295893,
 2165749097,
 2069954996,
 2961852181,
 1991792755,
 2489311201,
 2954198808,
 2048190353,
 4249165465,
 2094305090,
 2323053531,
 2231435673,
 2269181351,
 4240315047,
 2607104641,
 2040888273,
 2274619368,
 2374330482,
 2806911549,
 4250301210,
 2607889203,
 2156024342,
 2784113061,
 2036275883,
 2112315065,
 2112924340,
 1530559219,
 4255827847,
 2559725817,
 2120599892,
 2010840884,
 80084553,
 156983673,
 2507010098,
 2604879753,
 2044764759,
 193162130,
 4283272198,
 2070147155,
 3122420933,
 2381079051,
 2317126958,
 2396179459,
 2295146924,
 2093141983,
 2076764782,
 1261710638,
 1969860355,
 1992458738,
 1530475701,
 2151780953,
 2344917787,
 2736012731,
 201001518,
 2032296713,
 2322423610,
 2116052628,
 1492993235,
 1830373157,
 1429986587,
 2004061347,
 2293869977,
 2295219379,
 121840344,
 1606359996,
 2106552182,
 1832912444,
 2279196134,
 1018134210,
 180101674,
 2053898223,
 2347411076,
 2270766292,
 2186802909,
 2337414151,
 1504589978,
 2347818968,
 2340827741,
 2285846978,
 2085137754,
 2157913189,
 1651008720,
 2349250372,
 2129571852,
 2025613755,
 1841730032,
 109605021,
 2288154910,
 1989476135,
 1190411838,
 1998811045,
 2035110966,
 195384870,
 2256340452,
 201880980,
 2074820521,
 1605690291,
 2284804862,
 2174775320,
 1000443249,
 169577902,
 2286139916,
 1572209500,
 2246581960,
 2258497631,
 1574895093,
 2285726044,
 2348850939,
 2348200066,
 560187337,
 2098342050,
 2132904122,
 2085133957,
 2201030644,
 2070791959,
 174955871,
 2207786341,
 1995110106,
 2347796477,
 1649544184,
 2201303769,
 2278500369,
 2052737514,
 1988738247,
 2348513457,
 2348123977,
 2149811949,
 2157095686,
 133039009,
 2085886211,
 2038606573,
 1041037242,
 2282218409,
 1752386031,
 192190793,
 1021524641,
 148561103,
 2130748016,
 2347217269,
 108171099,
 1453597802,
 2331201572,
 207252533,
 1549496500,
 2138043494,
 2347915715,
 2130537286,
 2123168483,
 1989809187,
 2205547469,
 2306387940,
 2054534937,
 2279630297,
 2154143656,
 1028529113,
 125176715,
 139048954,
 2244295619,
 1886292987,
 1573246052,
 1969630275,
 1542399373,
 1869186381,
 2190671602,
 1547024808,
 2314938673,
 119566926,
 2033132688,
 1998398154,
 2348682864,
 1806255234,
 2269035433,
 2254726673,
 2175844716,
 2054680853,
 2297969909,
 621095149,
 2349957635,
 186444572,
 2316696885,
 2201482165,
 1812788879,
 2316143281,
 2298106494,
 1832303268,
 2342527023,
 2238668946,
 1965205938,
 1035441905,
 2297260148,
 2253935702,
 2321927742,
 2187338800,
 1516826459,
 2106009411,
 2147486628,
 1955358388,
 1984277766,
 2297993063,
 2058881413,
 2095694275,
 2274554057,
 2300594684,
 1547257362,
 2215472811,
 2259069866,
 2377169427,
 2370499641,
 2350967676,
 2350764140,
 2368131477,
 2367882674,
 2369857208,
 2365008273,
 2359718722,
 2353396907,
 2363036577,
 2375842188,
 2355477589,
 2357075118,
 2371149437,
 2361955646,
 2361019046,
 2366573831,
 2350951179,
 2377497447,
 2376921919,
 2356672034,
 2353745726,
 2352144316,
 2373568418,
 2374088030,
 2352405267,
 2359665787,
 2373402782,
 2352135941,
 2365907089,
 2365699703,
 2351226834,
 2377238756,
 2366688735,
 2364285163,
 2357063629,
 2357909589,
 2364035243,
 2374599592,
 2368424495,
 2372046784,
 2370155064,
 2358172087,
 2350491054,
 2360863368,
 2354169944,
 2364993443,
 2365482468,
 2363931415,
 2367407912,
 2368651670,
 2365768135,
 2362214348,
 2370823892,
 2368244400,
 2375378686,
 2375889651,
 2357930703,
 2358605380,
 2354724276,
 2366107724,
 2355598152,
 2362449468,
 2376169403,
 2372376910,
 2356362381,
 2353724379,
 2353069634,
 2371147427,
 2377708570,
 2362931540,
 2372753989,
 2362676426,
 2356752997,
 2373555405,
 2351152024,
 2355099336,
 2351531812,
 2376802037,
 2365168016,
 2367609596,
 2374706090,
 2362433617,
 2364113580,
 2375795898,
 2369116660,
 2371616789,
 2351993119,
 2374549525,
 2367888902,
 2372278991,
 2360867386,
 2360391130,
 2374343137,
 2356948795,
 2375978733,
 2360378687,
 2358798470,
 2367519813,
 2367953980,
 2374824709,
 2374960440,
 2362289545,
 2354057316,
 2361595309,
 2373498836,
 2354497258,
 2371223575,
 2361984006,
 2351778105,
 2358799229,
 2369135816,
 2368560069,
 2375962593,
 2353265775,
 2361034791,
 2353423813,
 2363226019,
 2359562461,
 2357084219,
 2362299519,
 2360605660,
 2367387019,
 2354299218,
 2376402441,
 2362352688,
 2367674377,
 2352615883,
 2354194097,
 2391211130,
 2380284986,
 2401942128,
 2467254540,
 2393773998,
 2392412378,
 2411535507,
 2378981974,
 2394122684,
 2389629350,
 2378826992,
 2394115940,
 2383042671,
 2504449504,
 2508437500,
 2578348546,
 2387565802,
 2481533318,
 2596996985,
 2585580322,
 2385942638,
 2592061569,
 2600955100,
 2408889790,
 2394029349,
 2509202512,
 2384732378,
 2385416723,
 2597610982,
 2559114478,
 2390797232,
 2385160588,
 2393176830,
 2554661753,
 2391425347,
 2561528858,
 2382039631,
 2381398825,
 2575828414,
 2518009968,
 2556654732,
 2567679768,
 2560345802,
 2391489956,
 2527534719,
 2587879154,
 2388381983,
 2601660808,
 2514987908,
 2385256572,
 2379593709,
 2598105580,
 2386240070,
 2592352332,
 2383784148,
 2598808498,
 2394219849,
 2594197917,
 2390467454,
 2391934496,
 2392354919,
 2379194036,
 2394444801,
 2596434094,
 2532170580,
 2589491890,
 2382036710,
 2380399871,
 2413822489,
 2581001870,
 2384341879,
 2525206466,
 2588707997,
 2394202398,
 2418686147,
 2462150691,
 2555182313,
 2490785015,
 2442062097,
 2571176711,
 2575121304,
 2555350080,
 2379715859,
 2380859214,
 2409311999,
 2393232823,
 2387699584,
 2392320981,
 2387108685,
 2488678584,
 2386009150,
 2386985213,
 2379182084,
 2391041576,
 2549532952,
 2384676276,
 2509455782,
 2591505766,
 2488843146,
 2392087021,
 2392903945,
 2382988872,
 2378598134,
 2562644278,
 2507246082,
 2525182590,
 2554688050,
 2389847826,
 2517056671,
 2462318491,
 2590311701,
 2379878336,
 2384726823,
 2380952545,
 2590009913,
 2380071498,
 2521306425,
 2572572823,
 2524462628,
 2379000239,
 2547980111,
 2507745469,
 2481987314,
 2410327665,
 2395618461,
 2587490696,
 2399098153,
 2412354398,
 2408516704,
 2382101537,
 2378566185,
 2391423014,
 2601450930,
 2390941122,
 2385702959,
 2389882534,
 2591250940,
 2517344316,
 2508634389,
 2381236543,
 2585839063,
 2391273663,
 2529337262,
 3134187599,
 2748061084,
 4291605330,
 2622370393,
 2626164021,
 2762267984,
 3127448783,
 353821076,
 4245022266,
 2751147926,
 3160684452,
 2621995178,
 4231147943,
 2607593417,
 2784803248,
 2626899655,
 3173775533,
 2885205444,
 2604122247,
 2768270999,
 4234833292,
 2774213382,
 3184842458,
 2952106935,
 2743806098,
 2617963215,
 2798268061,
 2783118468,
 4248627702,
 4291427603,
 2989441957,
 2921264273,
 3181681230,
 2964778448,
 2622986729,
 2606114369,
 4231459883,
 2775215544,
 4250740817,
 2910718163,
 2806207231,
 2965124812,
 4247879872,
 4236664434,
 2788313348,
 2915705348,
 2759029122,
 3030240104,
 2753249935,
 3035373477,
 4290775314,
 2948791326,
 3176534514,
 2738407891,
 2751789601,
 4243426936,
 3132812302,
 4212834582,
 2761426388,
 2948577656,
 4240492930,
 3039147904,
 2789466708,
 2888924056,
 2750626696,
 4233208194,
 402852434,
 2604490145,
 3202603610,
 2953106458,
 4237996131,
 4250305296,
 2786228702,
 4254691198,
 2711779097,
 3178372930,
 2734875286,
 3146360613,
 414131941,
 4243164714,
 4250741028,
 4245109313,
 2643727888,
 3031353231,
 2738058777,
 4285820137,
 410581147,
 4291912787,
 2732902430,
 4231038314,
 2794449609,
 2610476485,
 2768528625,
 2756144750,
 2618238457,
 2772124246,
 2670732128,
 2793210097,
 2734436528,
 2993732193,
 4252614037,
 4283390702,
 3113094500,
 2608101561,
 4302086758,
 4245823560,
 2766092263,
 2617123861,
 3046149362,
 4214972868,
 277729141,
 4240633984,
 2610871053,
 2614937791,
 2749290469,
 2626845205,
 2786732940,
 4231060419,
 3123122662,
 3013956527,
 3160986848,
 4233054938,
 2737559016,
 2615771131,
 3152850234,
 3043746889,
 2616231835,
 2789862596,
 3033176197,
 2782655144,
 4234808909,
 4230451149,
 2698163728,
 2767895648,
 2616951613,
 2992462370,
 428481931,
 4254558158,
 4244789948,
 2899064067,
 2729078601,
 2732255357,
 4246570940,
 2790768627,
 2755518968,
 2738679982,
 4252056598,
 273533287,
 3143824162,
 2602822261,
 2739086562,
 2759986590,
 2612207262,
 370866236,
 3044292954,
 4205879377,
 4226189160,
 2759712887,
 4224325395,
 2759560162,
 4234851187,
 358460515,
 2799746116,
 297289754,
 4253273141,
 2611250190,
 2774141685,
 3001130736,
 2667868248,
 4233176218,
 2786668173,
 884281907,
 615270013,
 4365797312,
 581953041,
 4362680717,
 4385102269,
 4382681186,
 9717449,
 645597360,
 620559008,
 4385107689,
 638468115,
 858755430,
 997846440,
 4381885857,
 888705515,
 656600052,
 620648879,
 59801250,
 645378453,
 4385107278,
 4362711913,
 4386061648,
 631077914,
 642409614,
 4205279783,
 1842007641,
 2548610616,
 9235665,
 2778978033,
 2287514227,
 2014192161,
 3043617047,
 1945573329,
 2997977781,
 2037538672,
 2487298674,
 1527283556,
 2139450880,
 1999326013,
 2962740450,
 4207037286,
 1026312797,
 2330125701,
 2328328246,
 2615974080,
 2104720350,
 2949900842,
 1518290511,
 3086256195,
 1964910923,
 2616968447,
 2158311438,
 2796104461,
 1608399998,
 2128742918,
 2566714929,
 2247275702,
 832471684,
 650580109,
 184737589,
 2395122429,
 1996378207,
 2548895849,
 2899955573,
 2094845995,
 2021250202,
 1604031421,
 2011267700,
 2527127657,
 1969185986,
 2610157674,
 582685609,
 2566941413,
 85715651,
 4206397108,
 2740602140,
 2041673613,
 1692187724,
 2474269644,
 2026619384,
 815090714,
 1601192507,
 2011550539,
 3139909254,
 162896707,
 1589598467,
 2061274832,
 2047838813,
 308034843,
 1987608083,
 2415198995,
 2973010538,
 2920812549,
 3141816103,
 1556240482,
 2062263892,
 2949018099,
 1835466001,
 2940091066,
 1858233269,
 1964141182,
 2226839949,
 1501965444,
 69334139,
 2594736796,
 2916453801,
 309646211,
 2365916107,
 2124151630,
 595339539,
 592948112,
 2995226767,
 2326788234,
 180057039,
 2293751726,
 2286937043,
 1876447645,
 3142169992,
 1943975227,
 2019476797,
 2322361170,
 3013159497,
 1673920345,
 2074020333,
 73827047,
 2472155085,
 3195809345,
 2989682696,
 102636402,
 2032317786,
 2036223417,
 1600414066,
 3013264273,
 1526288478,
 2417369179,
 2248152628,
 1527011753,
 2275557474,
 2902541393,
 1521599081,
 2141250434,
 1571438006,
 2354475949,
 405958990,
 2547079603,
 2284562375,
 2794211038,
 2775296517,
 2802440950,
 2333663200,
 2738560831,
 2273688853,
 2365673882,
 2338291210,
 2321476419,
 2807700551,
 2343935432,
 2565455811,
 2115587304,
 2477395147,
 2494327778,
 2373616325,
 2587582482,
 2753237293,
 2465633303,
 2337346208,
 2283439230,
 2105277751,
 2621244169,
 2391136897,
 2479486728,
 2379920832,
 2478488780,
 2744394593,
 2796193370,
 2888913371,
 2390272512,
 2617343316,
 2748420338,
 2891219971,
 2351371652,
 2215304862,
 2369000528,
 2345812241,
 2889928488,
 2744732031,
 259555641,
 2482524575,
 2289348849,
 2367678249,
 2589365478,
 2050453298,
 2491851225,
 2627082127,
 2272049361,
 2492524900,
 2330080435,
 2061746605,
 2080362513,
 2611200543,
 2270400496,
 2788070511,
 2895044984,
 2352904973,
 2156734266,
 2494186659,
 2317244890,
 2285424094,
 2795971669,
 2593973321,
 2808471781,
 2800146000,
 2773832724,
 2608916817,
 2746930825,
 2249736787,
 2279085206,
 2356093645,
 2796022271,
 2372250827,
 2390235808,
 2369802510,
 2799375486,
 2811207441,
 2482429485,
 2600284602,
 2343355001,
 2063889096,
 2481854454,
 2596383713,
 ...]

In [11]:
# 6min
# (B) 引用先の論文の抽出
B_relations = references_df[references_df['CitedPublicationId'].isin(bibmet_id_list)]

# (C) 参考文献に挙げた論文
C_relations = references_df[references_df['CitingPublicationId'].isin(bibmet_id_list)]

# (D) 更に「参考文献に挙げた論文」を参考文献に挙げている論文の抽出
# まず(C)からCitedPublicationIdを取得し、それを引用している論文を探す
C_cited_ids = C_relations['CitedPublicationId'].unique()
D_relations = references_df[references_df['CitedPublicationId'].isin(C_cited_ids)]

B_relations, D_relations

(        CitingPublicationId CitedPublicationId
 47               2147314816         2147486095
 390              2604406667         2267581838
 441              4387491849         2045680610
 2993             4387749131         3112902030
 1836             4387747277         2619010848
 ...                     ...                ...
 9379940          2109471329         2147259576
 9409063          2122124710         2163065691
 9413579          2124754824         1594572042
 9422989          2128816305         1964337657
 9434797          2134000226         1974362877

 [313327 rows x 2 columns],
         CitingPublicationId CitedPublicationId
 2                2103386241         1978094951
 10               2103386241         2069892556
 19               2114236357         2003964254
 27               2114236357         2166281097
 29               2114236357         4235813114
 ...                     ...                ...
 9436406          2134763224         2036122427
 9436411          2134763224         2065841427
 9436438          2134806910         2005404203
 9436446          2134806910         2070799870
 9436465          2134806910         4292994367

 [96708061 rows x 2 columns])

In [12]:
# D_relations[D_relations['CitedPublicationId'] == 1976880180]

Empty DataFrame
Columns: [CitingPublicationId, CitedPublicationId]
Index: []

In [13]:
# D_relations[D_relations['CitingPublicationId'] == 2573593301]

    CitingPublicationId CitedPublicationId
359          2573593301         2145007605

In [14]:
# references_df[references_df['CitedPublicationId'] == 55183993]

        CitingPublicationId CitedPublicationId
0                3117235547           55183993
0                2031878785           55183993
3247108          1914197438           55183993
454530           3138296954           55183993
271815            648156390           55183993
...                     ...                ...
953090           2460761523           55183993
6128321           585472863           55183993
6986859          2044549312           55183993
2359164          3195613568           55183993
5922122          1845937347           55183993

[66 rows x 2 columns]

In [15]:
# references_df[references_df['CitedPublicationId'] == '55183993']

Empty DataFrame
Columns: [CitingPublicationId, CitedPublicationId]
Index: []

In [16]:
works_rel_ref_df = pd.concat([B_relations, C_relations, D_relations]).drop_duplicates().reset_index(drop=True)
works_rel_ref_df.rename(columns={'CitingPublicationId': 'source', 'CitedPublicationId': 'target'}, inplace=True)
works_rel_ref_df

              source      target
0         2147314816  2147486095
1         2604406667  2267581838
2         4387491849  2045680610
3         4387749131  3112902030
4         4387747277  2619010848
...              ...         ...
97002303  2134763224  2036122427
97002304  2134763224  2065841427
97002305  2134806910  2005404203
97002306  2134806910  2070799870
97002307  2134806910  4292994367

[97002308 rows x 2 columns]

In [17]:
random_works_df.set_index('PublicationId', inplace=True)
random_works_df

,JournalId,Year,NumberCitations,Title,Date,DocType,Doi,PMID,Volume,Issue,FirstPage,LastPage,IsRetracted,IsParaText,AuthorCount
PublicationId,,,,,,,,,,,,,,,
2242094754,NaN,2005,0,Understanding what child protection data mean:...,2005-08-11,article,NaN,NaN,NaN,NaN,NaN,NaN,False,False,2.0
2951317825,NaN,2015,0,Desvendando o Universo com o Céu da Serra Gaúcha,2015-11-30,article,NaN,NaN,3,3,NaN,NaN,False,False,4.0
3030572269,NaN,2018,0,The estrogen deficiency hypothesis of schizoph...,2018-12-05,article,10.3760/cma.j.issn.1006-7884.2018.06.010,NaN,51,6,385,388,False,False,1.0
353247501,NaN,1977,0,"金大中氏拉致事件(ドキュメント)--コリアゲ-トの決壊〔含 日誌,解説〕",1977-02-01,article,NaN,NaN,NaN,375,206,227,False,False,1.0
423748994,NaN,1957,0,フランス法におけるfonds de commerce(営業)について,1957-07-01,article,NaN,NaN,2,1,73,108,False,False,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2076168890,NaN,2010,25,Pozzolanic activity of Hwangtoh clay,2010-12-01,article,10.1016/j.conbuildmat.2010.04.061,NaN,24,12,2638,2645,False,False,4.0
2468394869,NaN,2017,29,Evaluation of the toxicity of fungicides to fl...,2017-01-01,article,10.1016/j.pestbp.2016.06.007,28043329,135,NaN,41,46,False,False,5.0
2011433783,NaN,2011,28,Altered metabolism of maternal micronutrients ...,2011-11-01,article,10.1016/j.mehy.2011.08.001,21890280,77,5,878,883,False,False,4.0
1589905817,NaN,1982,25,Principles of Data Security,1982-01-01,book,10.1007/978-1-4684-4316-5,NaN,NaN,NaN,NaN,NaN,False,False,1.0
2095273630,NaN,1981,28,Relaxations and their strain derivatives aroun...,1981-07-30,article,10.1088/0022-3719/14/21/007,NaN,14,21,2889,2898,False,False,1.0

In [18]:
random_works_df.to_pickle(OUTPUT_WORKS_DF_PKL)
works_rel_ref_df.to_pickle(OUTPUT_WORKS_REL_REF_DF_PKL)

In [8]:
works_list = pickle.load(open(INPUT_WU_WORKS_LIST_PKL, 'rb'))

In [27]:
works_list = random.sample(works_list,1000000)
display(len(works_list), works_list[:5])

1000000

[[7, 1, 0.0005817335660267597, 8.0, 114.0],
 [3, 2, -0.000461361014994233, 15.0, 234.5],
 [3, 254, -0.021009362868234755, 3.77419354839, 117.0],
 [2, 15, -0.004055619930475087, 6.66666666667, 42.0],
 [12, 6, -0.0020931449502878076, 5.24242424242, 15.0]]

In [34]:
pickle.dump(works_list, open(OUTPUT_WU_WORKS_LIST_SMALL_PKL, 'wb'))