In [20]:
%pip install pyscisci networkx python-Levenshtein sparse_dot_topn matplotlib boto3 widgetsnbextension ipywidgets "dask[distributed]" --upgrade

Requirement already satisfied: pyscisci in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (0.8.11)
Requirement already satisfied: networkx in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (3.2.1)
Requirement already satisfied: python-Levenshtein in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (0.25.0)
Requirement already satisfied: sparse_dot_topn in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (1.0.0)
Requirement already satisfied: matplotlib in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (3.8.3)
Requirement already satisfied: boto3 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (1.34.49)
Collecting boto3
  Downloading boto3-1.34.52-py3-none-any.whl.metadata (6.6 kB)
Requirement already satisfied: widgetsnbextension in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (4.0.10)
Requirement already satisfied: ipywidgets in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (8.1.2)
Requirement already satisfied: dask[distributed] in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (2024.2.1)
Requirement already satisfied: pandas in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (2.1.4)
Requirement already satisfied: numpy in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (1.26.3)
Requirement already satisfied: scipy in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (1.11.4)
Requirement already satisfied: scikit-learn in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (1.3.2)
Requirement already satisfied: nameparser in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (1.1.3)
Requirement already satisfied: lxml in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (5.1.0)
Requirement already satisfied: requests in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (2.31.0)
Requirement already satisfied: unidecode in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (1.3.8)
Requirement already satisfied: tqdm in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (4.66.1)
Requirement already satisfied: numba in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pyscisci) (0.59.0)
Requirement already satisfied: Levenshtein==0.25.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from python-Levenshtein) (0.25.0)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.1.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from Levenshtein==0.25.0->python-Levenshtein) (3.6.1)
Requirement already satisfied: psutil in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from sparse_dot_topn) (5.9.7)
Requirement already satisfied: contourpy>=1.0.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (4.47.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Collecting botocore<1.35.0,>=1.34.52 (from boto3)
  Downloading botocore-1.34.52-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from boto3) (0.10.0)
Requirement already satisfied: comm>=0.1.3 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipywidgets) (0.2.1)
Requirement already satisfied: ipython>=6.1.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipywidgets) (8.20.0)
Requirement already satisfied: traitlets>=4.3.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipywidgets) (5.14.1)
Requirement already satisfied: jupyterlab-widgets~=3.0.10 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipywidgets) (3.0.10)
Requirement already satisfied: click>=8.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (8.1.7)
Requirement already satisfied: cloudpickle>=1.5.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (3.0.0)
Requirement already satisfied: fsspec>=2021.09.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (2024.2.0)
Requirement already satisfied: partd>=1.2.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (1.4.1)
Requirement already satisfied: pyyaml>=5.3.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (0.12.1)
Requirement already satisfied: importlib-metadata>=4.13.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (7.0.1)
Requirement already satisfied: distributed==2024.2.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from dask[distributed]) (2024.2.1)
Requirement already satisfied: jinja2>=2.10.3 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (3.1.3)
Requirement already satisfied: locket>=1.0.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (1.0.0)
Requirement already satisfied: msgpack>=1.0.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (1.0.7)
Requirement already satisfied: sortedcontainers>=2.0.5 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (3.0.0)
Requirement already satisfied: tornado>=6.0.4 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (6.4)
Requirement already satisfied: urllib3>=1.24.3 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (2.0.7)
Requirement already satisfied: zict>=3.0.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from distributed==2024.2.1->dask[distributed]) (3.0.0)
Requirement already satisfied: zipp>=0.5 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from importlib-metadata>=4.13.0->dask[distributed]) (3.17.0)
Requirement already satisfied: decorator in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (0.19.1)
Requirement already satisfied: matplotlib-inline in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (2.17.2)
Requirement already satisfied: stack-data in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: exceptiongroup in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets) (4.9.0)
Requirement already satisfied: six>=1.5 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from numba->pyscisci) (0.42.0)
Requirement already satisfied: pytz>=2020.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pandas->pyscisci) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pandas->pyscisci) (2023.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from requests->pyscisci) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from requests->pyscisci) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from requests->pyscisci) (2023.11.17)
Requirement already satisfied: joblib>=1.1.1 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from scikit-learn->pyscisci) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from scikit-learn->pyscisci) (3.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from jinja2>=2.10.3->distributed==2024.2.1->dask[distributed]) (2.1.5)
Requirement already satisfied: ptyprocess>=0.5 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: wcwidth in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.4.1)
Requirement already satisfied: pure-eval in /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Downloading boto3-1.34.52-py3-none-any.whl (139 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.3/139.3 kB 8.7 MB/s eta 0:00:00
Downloading botocore-1.34.52-py3-none-any.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 62.4 MB/s eta 0:00:0000:010:01
Installing collected packages: botocore, boto3
  Attempting uninstall: botocore
    Found existing installation: botocore 1.34.49
    Uninstalling botocore-1.34.49:
      Successfully uninstalled botocore-1.34.49
  Attempting uninstall: boto3
    Found existing installation: boto3 1.34.49
    Uninstalling boto3-1.34.49:
      Successfully uninstalled boto3-1.34.49
Successfully installed boto3-1.34.52 botocore-1.34.52

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pyscisci.all as pyscisci

import os
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

import dask.dataframe as dd

%matplotlib inline

path2openalex = '/disks/qnap2/data/t-yatima/openalex231124/data/'

DATA_DIR = '/disks/qnap2/data/t-yatima/scisciJP2024_tutorial/'
OUTPUT_WORKS_JSON_PKL = DATA_DIR + 'random_works_json.pkl'
OUTPUT_WORKS_DF_PKL = DATA_DIR + 'random_works_df.pkl'
OUTPUT_WORKS_REL_REF_DF_PKL = DATA_DIR + 'random_rel_ref_df.pkl'

myoa = pyscisci.OpenAlex(path2openalex, database_extension='csv.gz', keep_in_memory=True, show_progress=True, enable_dask=True) 

from dask.diagnostics import ProgressBar
ProgressBar().register()

from dask.distributed import progress

In [5]:
all_pub_ddf = myoa.load_publications()
all_pub_ddf

Loading Publications:   0%|          | 0/480 [00:00<?, ?it/s]

Dask DataFrame Structure:
                PublicationId JournalId    Year NumberCitations   Title    Date DocType     Doi    PMID  Volume   Issue FirstPage LastPage IsRetracted IsParaText
npartitions=480
                       object    object  object          object  object  object  object  object  object  object  object    object   object      object     object
                          ...       ...     ...             ...     ...     ...     ...     ...     ...     ...     ...       ...      ...         ...        ...
...                       ...       ...     ...             ...     ...     ...     ...     ...     ...     ...     ...       ...      ...         ...        ...
                          ...       ...     ...             ...     ...     ...     ...     ...     ...     ...     ...       ...      ...         ...        ...
                          ...       ...     ...             ...     ...     ...     ...     ...     ...     ...     ...       ...      ...         ...        ...
Dask Name: concat, 7077 graph layers

In [7]:
# 9min
references_df = myoa.load_references()
display(references_df)

Loading pub2ref:   0%|          | 0/480 [00:00<?, ?it/s]

        CitingPublicationId CitedPublicationId
0                3117235547           55183993
1                3117235547          657382535
2                3117235547         1540739244
3                3117235547         1582266453
4                3117235547         1642177666
...                     ...                ...
9436475          2134809571         2090594024
9436476          2134809571         2124054840
9436477          2134809571         2147932722
9436478          2134809571         2158145285
9436479          2134809571         4235794113

[1683280953 rows x 2 columns]

In [30]:
!pip show pyscisci

Name: pyscisci
Version: 0.8.11
Summary: Science of Science
Home-page: https://github.com/ajgates42/pyscisci
Author: Alex Gates <ajgates42@gmail.com>
Author-email:
License: MIT
Location: /disks/qnap2/notebook/t-yatima/.venv/lib/python3.10/site-packages
Requires: dask, lxml, nameparser, numba, numpy, pandas, requests, scikit-learn, scipy, tqdm, unidecode
Required-by:

In [6]:
# 8min
random_works_ddf = all_pub_ddf.sample(frac=0.0001, random_state=0)
random_works_df = random_works_ddf.compute()

[########################################] | 100% Completed | 502.18 s

In [9]:
random_works_df

,PublicationId,JournalId,Year,NumberCitations,Title,Date,DocType,Doi,PMID,Volume,Issue,FirstPage,LastPage,IsRetracted,IsParaText
99910,2289614885,NaN,2015,0,On the margin : technology helps carriers choo...,2015-08-01,article,NaN,NaN,NaN,NaN,NaN,NaN,False,False
281133,588250911,NaN,2008,0,MISCELLANEOUS 日本語表現能力に関する実践的教育-演習「プロゼミII」の実態調査-,2008-03-18,article,NaN,NaN,2,NaN,94,104,False,False
18677,1997677555,NaN,2009,1,Errors of target detecting using triangulation...,2009-10-23,article,NaN,NaN,NaN,NaN,413,414,False,False
300106,641542497,NaN,2011,0,Mellan nation och omvärld,2011-01-01,article,NaN,NaN,NaN,NaN,297,301,False,False
87096,2252829188,NaN,1998,0,"解决砌块建筑“裂,热,漏”问题的探讨",1998-01-01,article,NaN,NaN,NaN,12,18,18,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267920,2039546701,NaN,1993,26,Two-Dimensional Contact-Type Image Sensor Usin...,1993-01-01,article,10.1143/jjap.32.458,NaN,32,1S,458,458,False,False
33204,2044872246,NaN,2001,31,Photoelectrochemistry of Langmuir−Blodgett Fil...,2001-09-07,article,10.1021/jp010250h,NaN,105,39,9406,9412,False,False
22768,1973947117,NaN,2006,31,Strain relaxation and surface morphology of ni...,2006-03-01,article,10.1016/j.susc.2005.12.038,NaN,600,5,1099,1106,False,False
69355,1999900463,NaN,1995,30,Uniform-size hydrophobic polymer-based separat...,1995-01-01,article,10.1016/0021-9673(94)00899-k,7881539,690,1,21,28,False,False
308850,1969788164,NaN,1992,25,Basaltic magmatism in the North Sea and its re...,1992-07-01,article,10.1016/0040-1951(92)90337-6,NaN,208,1-3,77,90,False,False

In [25]:
# 11min
all_paa = myoa.load_publicationauthoraffiliation()
all_paa

Loading Publication Author Affiliation:   0%|          | 0/480 [00:00<?, ?it/s]

/home/t-yatima/t-yatima/.venv/lib/python3.10/site-packages/pyscisci/datasource/readwrite.py:203: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat(data)

,PublicationId,AuthorId,AffiliationId,AuthorSequence,OrigAuthorName
0,4287754650,5062226449,NaN,1,Enrico Biffis
1,4287754650,5033140346,NaN,2,Erik Chavez
2,4287754650,5061623148,NaN,3,Alexis Louaas
3,4287754650,5074952038,NaN,4,Pierre M. Picard
4,4287938432,5045351019,NaN,1,Arthur Hugeat
...,...,...,...,...,...
1810902,2134809571,5004197195,1.355989e+08,3,Hiroki Shibata
1810903,2134809571,5061432587,4.210123e+09,4,Tomomi Saito
1810904,2134809571,5029531503,4.240550e+07,5,Osamu Doi
1810905,2134809571,5004358248,4.240550e+07,6,Yutaka Ohya
1810906,2134809571,5011973675,4.240550e+07,7,Norio Yoshizaki

In [32]:
# all_paaでPublicationIdごとにAuthorIdの数を数える
all_paa.drop(columns=['AffiliationId', 'AuthorSequence', 'OrigAuthorName'], inplace=True)
author_count = all_paa.groupby('PublicationId').count().reset_index()
author_count.columns = ['PublicationId', 'AuthorCount']  # 列名を変更

# random_works_dfに結果を結合する
random_works_df = random_works_df.merge(author_count, on='PublicationId', how='left')
random_works_df

,PublicationId,JournalId,Year,NumberCitations,Title,Date,DocType,Doi,PMID,Volume,Issue,FirstPage,LastPage,IsRetracted,IsParaText,AuthorCount
0,2289614885,NaN,2015,0,On the margin : technology helps carriers choo...,2015-08-01,article,NaN,NaN,NaN,NaN,NaN,NaN,False,False,1.0
1,588250911,NaN,2008,0,MISCELLANEOUS 日本語表現能力に関する実践的教育-演習「プロゼミII」の実態調査-,2008-03-18,article,NaN,NaN,2,NaN,94,104,False,False,1.0
2,1997677555,NaN,2009,1,Errors of target detecting using triangulation...,2009-10-23,article,NaN,NaN,NaN,NaN,413,414,False,False,1.0
3,641542497,NaN,2011,0,Mellan nation och omvärld,2011-01-01,article,NaN,NaN,NaN,NaN,297,301,False,False,1.0
4,2252829188,NaN,1998,0,"解决砌块建筑“裂,热,漏”问题的探讨",1998-01-01,article,NaN,NaN,NaN,12,18,18,False,False,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22765,2039546701,NaN,1993,26,Two-Dimensional Contact-Type Image Sensor Usin...,1993-01-01,article,10.1143/jjap.32.458,NaN,32,1S,458,458,False,False,3.0
22766,2044872246,NaN,2001,31,Photoelectrochemistry of Langmuir−Blodgett Fil...,2001-09-07,article,10.1021/jp010250h,NaN,105,39,9406,9412,False,False,2.0
22767,1973947117,NaN,2006,31,Strain relaxation and surface morphology of ni...,2006-03-01,article,10.1016/j.susc.2005.12.038,NaN,600,5,1099,1106,False,False,7.0
22768,1999900463,NaN,1995,30,Uniform-size hydrophobic polymer-based separat...,1995-01-01,article,10.1016/0021-9673(94)00899-k,7881539,690,1,21,28,False,False,7.0
22769,1969788164,NaN,1992,25,Basaltic magmatism in the North Sea and its re...,1992-07-01,article,10.1016/0040-1951(92)90337-6,NaN,208,1-3,77,90,False,False,2.0

In [14]:
bibmet_id_list = [int(work) for work in random_works_df['PublicationId'].to_list()]
bibmet_id_list

[2289614885,
 588250911,
 1997677555,
 641542497,
 2252829188,
 2512095229,
 2409947584,
 3081744184,
 2938687893,
 390021029,
 4214577364,
 2034450803,
 2350122719,
 1980331161,
 949007422,
 909231072,
 760532667,
 1819722246,
 2118511552,
 1592133559,
 2595813847,
 2386915843,
 1551769421,
 428327019,
 3211327119,
 3199422493,
 2513379591,
 411846878,
 376426975,
 2354954625,
 2271864853,
 6189665,
 2904877874,
 2184584010,
 2384689382,
 154837109,
 3176903894,
 2350729102,
 2606918120,
 1979057808,
 2115242963,
 1926427285,
 2109699317,
 4283380004,
 1575580130,
 1969315279,
 2735098700,
 1535508539,
 644373152,
 2293877789,
 2121547664,
 2306391979,
 2064455131,
 2469548427,
 2241919256,
 1572194604,
 2377029689,
 2332771914,
 2769830383,
 2054779506,
 585882067,
 2581450158,
 1816236758,
 2352300812,
 2790382446,
 2090060603,
 2042392458,
 3037745336,
 144154533,
 1769088580,
 2373860623,
 2008499596,
 2054774456,
 3178794464,
 2158465477,
 2023158072,
 2106210042,
 2075425215,
 2163893850,
 1780085325,
 2593367691,
 2592763541,
 2359584453,
 2070592229,
 2354290850,
 4297370523,
 2136106694,
 3029867009,
 2348235414,
 2345633376,
 2348756300,
 2110806491,
 2270833315,
 2030166780,
 1756420129,
 1993998875,
 1494178985,
 1977455925,
 2040501460,
 2349592122,
 2318026276,
 2035531885,
 1917746389,
 2038109859,
 2120276765,
 2074197754,
 2272999839,
 1977770649,
 1647348829,
 178549756,
 2054196459,
 2349508899,
 1533552841,
 1675456358,
 124357329,
 1602338439,
 1134321844,
 2240110914,
 2349262436,
 1871268265,
 2328214012,
 2084998168,
 2068356573,
 1812148549,
 2302477385,
 2300108830,
 2061372429,
 2324244624,
 157450340,
 2178619411,
 2151238685,
 2345017320,
 1011760470,
 2183587891,
 1655152945,
 2246960804,
 2266041613,
 2348978103,
 1929982189,
 2349907378,
 1767523979,
 1976099968,
 2096803404,
 2348157486,
 2116315872,
 2019077176,
 2161999321,
 147862507,
 2163189669,
 1877719473,
 1975022210,
 1543454800,
 203890577,
 2255410612,
 1926175344,
 2350002529,
 1819580825,
 2240343335,
 112587958,
 2124255461,
 2192029245,
 1574550945,
 2375038345,
 2372990953,
 2363998536,
 2362559401,
 2377166397,
 2356783878,
 2353569751,
 2372959656,
 2369666897,
 2367531306,
 2355413977,
 2374034960,
 2364874736,
 2363806147,
 2359824829,
 2369469072,
 2377536658,
 2359224605,
 2351906519,
 2360631409,
 2366489364,
 2366057391,
 2378037547,
 2354659308,
 2372091881,
 2357930451,
 2364919701,
 2376508945,
 2352755672,
 2375323370,
 2353215770,
 2358589777,
 2369779111,
 2376669467,
 2371854767,
 2362311265,
 2355951081,
 2354777165,
 2367328173,
 2361910325,
 2355266552,
 2358687709,
 2363117228,
 2372100941,
 2353118227,
 2370978516,
 2366464569,
 2372980347,
 2374790115,
 2377190190,
 2356500826,
 2364025794,
 2371975782,
 2361452410,
 2354830609,
 2370917932,
 2374648106,
 2373665271,
 2351878727,
 2352237036,
 2367446129,
 2360851940,
 2371013479,
 2359664930,
 2368257163,
 2591465003,
 2407614845,
 2480850970,
 2380746073,
 2381648869,
 2387614511,
 2572932198,
 2529203263,
 2382575602,
 2506773010,
 2513054313,
 2392584105,
 2384716685,
 2387146106,
 2508752619,
 2382870779,
 2392599446,
 2494719184,
 2497060793,
 2564065099,
 2392842850,
 2381709977,
 2382980045,
 2391985923,
 2391476652,
 2530421247,
 2382745843,
 2425739089,
 2518463070,
 2415903730,
 2588990770,
 246859425,
 2392769620,
 2378910005,
 2385084073,
 2588939365,
 2555614090,
 2524368429,
 2380445837,
 2383275223,
 2557399713,
 2386562533,
 2561002385,
 2387252546,
 2380419402,
 2393380751,
 2478450228,
 2524928523,
 2391935474,
 2383164984,
 2401587342,
 2511456807,
 2384178124,
 2522539911,
 2557041789,
 2385400000,
 2390452822,
 2552634656,
 2381756032,
 2491230573,
 2379165029,
 2394377651,
 2380977167,
 2381113982,
 2378766008,
 2564975188,
 2389913645,
 2487500325,
 2497555220,
 2593699678,
 2388352099,
 2602826549,
 4224066901,
 3035424597,
 4234588360,
 3213043556,
 4200570977,
 2740526811,
 2614433059,
 4221106249,
 265698656,
 4283118743,
 4254365194,
 3031238117,
 2613150702,
 4288489472,
 2743883932,
 2804138465,
 2767500237,
 4249247143,
 2626846467,
 4291393346,
 2889839665,
 2777701213,
 2777004224,
 3086001585,
 2731405300,
 2767218526,
 4213178004,
 4319080907,
 2623119298,
 4206020020,
 2769975472,
 2786768505,
 3194956369,
 4252257887,
 2891552958,
 2792208387,
 2931483293,
 4291800870,
 4251338119,
 2911492528,
 2615503050,
 2606683199,
 2626391722,
 4239556245,
 2789148604,
 2626405225,
 4237885470,
 2969458290,
 2652601031,
 4240260531,
 2774145191,
 2980699869,
 2735670998,
 2889060893,
 2782284316,
 2885249724,
 2606358892,
 4316076318,
 2778115375,
 2737005836,
 3023593181,
 2614300427,
 4299646297,
 2779458349,
 4233466861,
 2732439217,
 2616433900,
 2778100994,
 2773170279,
 2908037101,
 4293295446,
 4235242325,
 4210510242,
 305658587,
 4291531444,
 2610611877,
 4236179645,
 3009062980,
 3209422477,
 2620437379,
 2913641433,
 2950771394,
 2913708741,
 377199477,
 2792818325,
 594516130,
 4377293964,
 642287552,
 809940443,
 4385103560,
 598510578,
 921284700,
 884885807,
 600143075,
 610971227,
 644592945,
 640187289,
 1541271679,
 2107251369,
 2135733912,
 2995788082,
 3144547163,
 2201751951,
 1980244758,
 1594461896,
 2182307597,
 2016066248,
 53112909,
 1982604485,
 1511737148,
 2124802277,
 1935535834,
 2258598566,
 3149999751,
 2015825532,
 2041412465,
 121907760,
 3169474339,
 1642509996,
 1995386989,
 1506642008,
 608968371,
 2023348254,
 2040726019,
 2912571444,
 2768442889,
 1618484597,
 2500931127,
 436351264,
 2167239228,
 2162643244,
 1980210302,
 1505495107,
 104013655,
 2589021906,
 2542976210,
 2953791078,
 1467265456,
 1546389490,
 2947791748,
 2016910345,
 2810410444,
 1607267717,
 3002520790,
 2788739008,
 2039327580,
 2313532194,
 2093551638,
 2916961114,
 2332862390,
 1964472698,
 2086718849,
 1534504893,
 2405249130,
 148420101,
 2892090977,
 2251084681,
 1995110847,
 2800715327,
 2616767308,
 2600995085,
 2248937480,
 2797554808,
 2387136234,
 2362592350,
 2750879088,
 2798147354,
 2393143131,
 2586029345,
 2322651059,
 2185033134,
 2048389735,
 2374488973,
 2081393230,
 2269570926,
 2388990391,
 2328354747,
 2677516577,
 2589455316,
 2382378380,
 2801638025,
 2240233496,
 2567364871,
 2609734223,
 2139888810,
 2894002066,
 2583063522,
 2316776327,
 2463839339,
 2626517286,
 2060174584,
 2888086437,
 2590858550,
 282851304,
 2569313123,
 2306913722,
 2417416184,
 2266199356,
 2353844725,
 2485417780,
 2237693033,
 2508933365,
 2310985620,
 2318224923,
 2390248375,
 2755717999,
 243313795,
 2625610435,
 2551472818,
 2769959301,
 2240601295,
 2888552063,
 2483515184,
 2352053083,
 2590424121,
 2390209740,
 2334730023,
 2381853603,
 2327303368,
 2502266578,
 2377077095,
 2098774297,
 2462690727,
 2382937234,
 2246923804,
 2401514448,
 2382009407,
 2131395167,
 2161495050,
 2802288580,
 2387941578,
 3030531579,
 2962871601,
 3000228939,
 2944045908,
 3009184995,
 2941128976,
 2971627613,
 2979963467,
 2915695958,
 3029230125,
 2977523721,
 2998545101,
 2946039417,
 3029283538,
 2936665542,
 2936118397,
 3029607023,
 2986429937,
 2917655102,
 2985232367,
 3013666571,
 2900722411,
 2968989819,
 2998631724,
 3030171954,
 2902863961,
 3030100971,
 3030260273,
 2991368852,
 3020903610,
 2967832443,
 3030459089,
 2899691639,
 2956766927,
 2981847480,
 3020824697,
 290554626,
 2981170899,
 2899695781,
 2952778514,
 3031345210,
 2970465112,
 3031064034,
 3004366513,
 3030562672,
 3031843012,
 2910384927,
 2952596620,
 2899952997,
 3011304712,
 3031606650,
 3022928362,
 2899948157,
 3005101769,
 2914894416,
 3030724242,
 2975456919,
 3029315617,
 2965090407,
 2939082064,
 2899930774,
 3005312463,
 3030446612,
 2992375740,
 3029682462,
 3001859362,
 2915011884,
 2951566366,
 3028841410,
 2906126988,
 3000348549,
 3030585849,
 2916880640,
 3029411378,
 358930463,
 3148470579,
 319215875,
 3112095386,
 3039565932,
 3140199762,
 375117536,
 3174354295,
 3159395166,
 3097838505,
 3113872731,
 351923651,
 3197822966,
 39433663,
 3142818998,
 3182719355,
 3214830010,
 3206710573,
 3207473804,
 3135310500,
 374334725,
 3211722028,
 3165453957,
 3031989329,
 3217751189,
 3108913719,
 3187528122,
 3049610398,
 3127029502,
 39458480,
 3112458280,
 3149979130,
 3162787028,
 3188508243,
 3190661645,
 3086581546,
 3092941608,
 3217106321,
 3208034115,
 3104406508,
 3112901898,
 397570789,
 3154737257,
 3032022199,
 3032737615,
 3215096785,
 3160103988,
 364569800,
 3157068872,
 3142272993,
 3190921505,
 3151508440,
 3038578425,
 3142451067,
 358947911,
 370801939,
 3202610647,
 4206501450,
 3109349799,
 384944307,
 3047014379,
 3128468466,
 3135541121,
 3174464713,
 3032648787,
 3134581559,
 3209969643,
 3146243343,
 3149950004,
 3144233604,
 3064676295,
 3088255696,
 3199464021,
 3032431929,
 69561031,
 629260532,
 4384748215,
 625117510,
 856882637,
 53739130,
 581232521,
 947208548,
 424163220,
 603310288,
 4285262342,
 48617596,
 574212866,
 564670538,
 4376110348,
 4300470306,
 63998077,
 4376275899,
 94925632,
 4386807972,
 66485167,
 960162175,
 605702460,
 4385363072,
 4385262257,
 4225894537,
 4387916820,
 4387308808,
 4364372749,
 4300327218,
 4383215240,
 813665355,
 967657757,
 615013884,
 4291443622,
 2993003414,
 53421001,
 1601024172,
 1584540853,
 591562332,
 2176676167,
 1579840522,
 578362395,
 2063528955,
 2027862066,
 2237694698,
 435987913,
 2608623501,
 2274355492,
 2548417834,
 2162966914,
 2068533806,
 199585309,
 123766325,
 2019563969,
 653081624,
 1911786895,
 838467411,
 2248350055,
 2495482489,
 577481473,
 1545140319,
 2023093211,
 2235974701,
 2077476443,
 1449443754,
 2051075393,
 1526952151,
 167827026,
 588218051,
 2108170230,
 2169638735,
 2033140328,
 2076545616,
 1532587460,
 1573328775,
 1525413233,
 1807965882,
 372873509,
 2995218188,
 2988860017,
 1977818520,
 595068337,
 2324212995,
 2059413641,
 2040077738,
 2560345414,
 1545157583,
 2565508234,
 1503126230,
 1968144463,
 1670886918,
 2179786174,
 1520233442,
 1753376548,
 628733417,
 2953349795,
 1573340352,
 2995571925,
 3111850099,
 2079833936,
 1676373051,
 1531006380,
 2597573276,
 1603405718,
 2597034809,
 2773421537,
 1500949478,
 3083608582,
 2626516037,
 2212809377,
 2349094214,
 2124466205,
 1466790077,
 4206330019,
 2892337199,
 2359974891,
 2611883847,
 3202689724,
 2943124962,
 2505310622,
 379589538,
 2806438468,
 2591057593,
 1012257765,
 143542374,
 3121680685,
 2561073983,
 1529380466,
 2038872780,
 2977732332,
 2167021445,
 2591809207,
 1553298509,
 2103472811,
 21290552,
 2554665854,
 973377575,
 153866522,
 1002052551,
 3091927727,
 644552319,
 337325235,
 2398470094,
 174416551,
 3126018404,
 1979741662,
 192019829,
 2907249037,
 1003435873,
 192412378,
 2782278044,
 1007537399,
 2607893692,
 2794530163,
 635372152,
 1810338648,
 2462743244,
 1537493909,
 2388288882,
 351148639,
 2337084939,
 2411177277,
 2021203367,
 634014021,
 2914693351,
 3092546671,
 2070608825,
 1479726427,
 2563865237,
 834505740,
 2258327003,
 155758749,
 1037000825,
 157693599,
 1500864419,
 163135361,
 1646735547,
 174763585,
 1245494391,
 1561813155,
 1604367123,
 1579023700,
 172877695,
 181532215,
 1754707206,
 1172011778,
 1275232323,
 1513639855,
 1711865107,
 1041142232,
 128862707,
 1673204983,
 107769884,
 1525274489,
 132918217,
 1505085588,
 106073368,
 1486714369,
 1485621006,
 1041313875,
 1817940338,
 1838788346,
 1043923854,
 1489390192,
 1588985463,
 178823100,
 10818197,
 1724245459,
 1589828580,
 1503031407,
 1748475886,
 1822182789,
 107356608,
 1576799863,
 1182347526,
 1707931456,
 1510637166,
 1029069021,
 1496285221,
 1167588842,
 1430821177,
 1467523237,
 1586386004,
 1486042413,
 1126883316,
 1564590654,
 1517573259,
 152306956,
 169500892,
 1211239480,
 1579666270,
 162062137,
 1550169416,
 1498075601,
 152909489,
 1580720997,
 179730606,
 1441526566,
 1829913385,
 12934209,
 1601937437,
 163317986,
 1607367520,
 1025537771,
 125881520,
 1666629619,
 1187327393,
 120221520,
 1554639454,
 1549006655,
 1555634280,
 1518684507,
 158611864,
 1139769147,
 1583460013,
 1459837938,
 1502895181,
 113810586,
 1546733673,
 1582518741,
 1527507064,
 124261496,
 1541787806,
 1509997142,
 1793077785,
 2253398837,
 2142390782,
 2032699932,
 22468469,
 2227360553,
 2228110852,
 2185321583,
 2081052318,
 199866393,
 1966012483,
 2234418238,
 1928561621,
 1898161261,
 2221517002,
 2206888644,
 2247933300,
 2081857524,
 2184235062,
 2215522915,
 2192071896,
 2209334631,
 2230997825,
 2188419042,
 1974269918,
 2231683167,
 2021651636,
 1874724436,
 1948216760,
 2205938707,
 211234343,
 2035864432,
 2253464760,
 2132930648,
 1968795545,
 2103053418,
 186634085,
 2201306127,
 2229854547,
 2149584727,
 2114945359,
 2160683818,
 2040775947,
 207910747,
 204073892,
 2230533121,
 2204756998,
 2231256521,
 2203155027,
 2148970196,
 1897060098,
 2157301416,
 2252288587,
 2243320716,
 216208836,
 2002949505,
 1928760390,
 ...]

In [15]:
# 6min
# (B) 引用先の論文の抽出
B_relations = references_df[references_df['CitedPublicationId'].isin(bibmet_id_list)]

# (C) 参考文献に挙げた論文
C_relations = references_df[references_df['CitingPublicationId'].isin(bibmet_id_list)]

# (D) 更に「参考文献に挙げた論文」を参考文献に挙げている論文の抽出
# まず(C)からCitedPublicationIdを取得し、それを引用している論文を探す
C_cited_ids = C_relations['CitedPublicationId'].unique()
D_relations = references_df[references_df['CitedPublicationId'].isin(C_cited_ids)]

B_relations, D_relations

(        CitingPublicationId CitedPublicationId
 1337             2043840923         2068988534
 103              4386376446         2009532800
 2453             4387745815         2336257495
 8645              197392799         2041318199
 8741             1994982975         1986080923
 ...                     ...                ...
 9371565          2105825040         2054405285
 9376548          2107952196         1981275310
 9377951          2108425242         1423339008
 9403936          2119692351         2056373445
 9410049          2122763672         2086028289

 [160072 rows x 2 columns],
         CitingPublicationId CitedPublicationId
 2                3117235547         1540739244
 14               3117235547         2004341664
 18               3117235547         2012538600
 29               3117235547         2065534179
 32               3117235547         2072394847
 ...                     ...                ...
 9436443          2134806910         2052288562
 9436452          2134806910         2095784025
 9436456          2134806910         2100937930
 9436462          2134806910         2143114368
 9436465          2134806910         4292994367

 [58528525 rows x 2 columns])

In [16]:
D_relations[D_relations['CitedPublicationId'] == 1976880180]

Empty DataFrame
Columns: [CitingPublicationId, CitedPublicationId]
Index: []

In [17]:
D_relations[D_relations['CitingPublicationId'] == 2573593301]

Empty DataFrame
Columns: [CitingPublicationId, CitedPublicationId]
Index: []

In [18]:
references_df[references_df['CitedPublicationId'] == 55183993]

        CitingPublicationId CitedPublicationId
0                3117235547           55183993
0                2031878785           55183993
3247108          1914197438           55183993
454530           3138296954           55183993
271815            648156390           55183993
...                     ...                ...
953090           2460761523           55183993
6128321           585472863           55183993
6986859          2044549312           55183993
2359164          3195613568           55183993
5922122          1845937347           55183993

[66 rows x 2 columns]

In [19]:
references_df[references_df['CitedPublicationId'] == '55183993']

Empty DataFrame
Columns: [CitingPublicationId, CitedPublicationId]
Index: []

In [21]:
works_rel_ref_df = pd.concat([B_relations, C_relations, D_relations]).drop_duplicates().reset_index(drop=True)
works_rel_ref_df.rename(columns={'CitingPublicationId': 'source', 'CitedPublicationId': 'target'}, inplace=True)
works_rel_ref_df

              source      target
0         2043840923  2068988534
1         4386376446  2009532800
2         4387745815  2336257495
3          197392799  2041318199
4         1994982975  1986080923
...              ...         ...
58683278  2134806910  2052288562
58683279  2134806910  2095784025
58683280  2134806910  2100937930
58683281  2134806910  2143114368
58683282  2134806910  4292994367

[58683283 rows x 2 columns]

In [33]:
random_works_df.set_index('PublicationId', inplace=True)
random_works_df

,JournalId,Year,NumberCitations,Title,Date,DocType,Doi,PMID,Volume,Issue,FirstPage,LastPage,IsRetracted,IsParaText,AuthorCount
PublicationId,,,,,,,,,,,,,,,
2289614885,NaN,2015,0,On the margin : technology helps carriers choo...,2015-08-01,article,NaN,NaN,NaN,NaN,NaN,NaN,False,False,1.0
588250911,NaN,2008,0,MISCELLANEOUS 日本語表現能力に関する実践的教育-演習「プロゼミII」の実態調査-,2008-03-18,article,NaN,NaN,2,NaN,94,104,False,False,1.0
1997677555,NaN,2009,1,Errors of target detecting using triangulation...,2009-10-23,article,NaN,NaN,NaN,NaN,413,414,False,False,1.0
641542497,NaN,2011,0,Mellan nation och omvärld,2011-01-01,article,NaN,NaN,NaN,NaN,297,301,False,False,1.0
2252829188,NaN,1998,0,"解决砌块建筑“裂,热,漏”问题的探讨",1998-01-01,article,NaN,NaN,NaN,12,18,18,False,False,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2039546701,NaN,1993,26,Two-Dimensional Contact-Type Image Sensor Usin...,1993-01-01,article,10.1143/jjap.32.458,NaN,32,1S,458,458,False,False,3.0
2044872246,NaN,2001,31,Photoelectrochemistry of Langmuir−Blodgett Fil...,2001-09-07,article,10.1021/jp010250h,NaN,105,39,9406,9412,False,False,2.0
1973947117,NaN,2006,31,Strain relaxation and surface morphology of ni...,2006-03-01,article,10.1016/j.susc.2005.12.038,NaN,600,5,1099,1106,False,False,7.0
1999900463,NaN,1995,30,Uniform-size hydrophobic polymer-based separat...,1995-01-01,article,10.1016/0021-9673(94)00899-k,7881539,690,1,21,28,False,False,7.0
1969788164,NaN,1992,25,Basaltic magmatism in the North Sea and its re...,1992-07-01,article,10.1016/0040-1951(92)90337-6,NaN,208,1-3,77,90,False,False,2.0

In [34]:
random_works_df.to_pickle(OUTPUT_WORKS_DF_PKL)
works_rel_ref_df.to_pickle(OUTPUT_WORKS_REL_REF_DF_PKL)